<% @page_title = (@presenter.faculty.name || "") + " Visualizations"%>

<style>
  .links line {
    stroke: #999;
    stroke-opacity: 0.6;
  }

  .nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
  }

  #tooltip {
    position: absolute;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
  }

  #title {
    font-weight: bold;
  }

  #subtitle2 {
    font-size: small;
    font-style: italic;
  }

  .htmlSnippet {
    background-color: #f5f5d3; /* light yellow */
    border:1px solid #999999;
    width:98%;
    margin:5px 0;
    padding:1%;
  }
</style>

<%= render "search_box" %>

<h1><%= @presenter.faculty.display_name %></h1>
<h2>Coauthor Network</h2>
<h3 id="errorMsg" class="hidden">Sorry, no data is available for this researcher.</h3>

<div class="row">
  <div class="col-md-9">
    <svg id="svgElement" width="960" height="700" xmlns="http://www.w3.org/2000/svg"></svg>
  </div>
  <div class="col-md-3">
    <a class="btn btn-primary btn-lg" role="button" href="<%= visualization_coauthor_path(@presenter.faculty.vivo_id) %>" >Coauthor Network</a>
    <a class="btn btn-default btn-lg" role="button" href="<%= visualization_collab_path(@presenter.faculty.vivo_id) %>" >Collaborator Network</a>
    <p>&nbsp;</p>
    <p><b>Legend</b></p>
    <p><span style='background-color:#1f77b4;'>&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;Author</p>
    <p><span style='background-color:#aec7e8;'>&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;Coauthors</p>
    <p><span style='background-color:#c7c7c7;'>&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;Coauthors' coauthors</p>
    <p>&nbsp;</p>
    <p><b>Options</b></p>
    <p><a href="<%= display_show_path(@presenter.faculty.vivo_id) %>">Go to Researcher's Profile</a></p>
    <p>Show labels&nbsp;<input id="showLabels" type="checkbox" checked/></p>
    <p>Show details on mouse hover&nbsp;<input id="showDetails" type="checkbox" checked/></p>
    <p>Force to fit&nbsp;<input id="forceToFit" type="checkbox" title="Forces the graph to fit on the screen (useful when some nodes fall outside the display area)"/></p>
    <p><a href="<%= ENV['VIZ_CLIENT_URL'] %>/forceEdgeGraph/<%= @presenter.faculty.vivo_id %>" title="Format suitable for D3 and other visualization tools.">Download data (JSON)</a></p>
    <p><a href="#" id="embedHtml" title="Shows HTML to embed the graph as an SVG element into your own page.">Embed SVG Code</a></p>
    <p><a href="#" id="downloadPng" title="Downlods the graph as an image file in PNG format. This only works in Chrome and Firefox.">Download Image (PNG)</a></p>
  </div>
</div>

<div class="row hidden" id="canvasDiv">
  <canvas id="canvasElement"></canvas>
  <a id="canvasImgLink" href="#" download="coauthors.png" target="_blank"></a>
</div>

<div class="row hidden" id="embedHtmlDiv">
  <div class="col-md-12">
    <p>Copy the following HTML to embed the SVG into your own page</p>
    <textarea id="embedHtmlText" rows="15" class="htmlSnippet"></textarea>
  </div>
  <div><p>&nbsp;</p></div>
</div>

<div id="tooltip" class="hidden">
  <p id="title" style="margin:0;"></p>
  <p id="subtitle" style="margin:0;"></p>
  <p id="subtitle2" style="margin:0;"></p>
</div>

<script>

  var facultyId = "<%= @presenter.faculty.id %>";     // http://vivo.brown.edu/jcarberry
  var vivoId = "<%= @presenter.faculty.vivo_id %>";   // jcarberry
  var json_data_addr = "<%= ENV['VIZ_CLIENT_URL'] %>/forceEdgeGraph/<%= @presenter.faculty.vivo_id %>";
  var svgWidth = 960;
  var svgHeight = 700;

  $(document).ready(function() {
    var forceToFit = window.location.href.indexOf("?fit") != -1;
    if (forceToFit) {
      $("#forceToFit").attr("checked", true);
    }

    initGraph();

    $("#showLabels").on("click", updateLabels);
    $("#forceToFit").on("click", function() {
      var checked = $("#forceToFit").is(":checked");
      var newUrl = "<%= visualization_coauthor_path(@presenter.faculty.vivo_id)%>";
      if (checked) {
        newUrl += "?fit=1";
      }
      window.location.assign(newUrl);
    });

    $("#embedHtml").on("click", showEmbedHtml);
    $("#downloadPng").on("click", downloadPng);
  });

  function initGraph() {
    $.getJSON(json_data_addr, drawGraph);
  }

  function inArray(array, value) {
    var i;
    for(i = 0; i < array.length; i++) {
      if (array[i] == value) {
        return true;
      }
    }
    return false;
  }

  function getNodeIndex(nodes, id) {
    var i;
    for(i = 0; i < nodes.length; i++) {
      if (nodes[i].id == id) {
        return i;
      }
    }
    return -1;
  }

  function updateLabels() {
    var showLabels = $("#showLabels").is(":checked");
    if (showLabels) {
      d3.selectAll(".node-text").classed("hidden",false);
    } else {
      d3.selectAll(".node-text").classed("hidden",true);
    }
  }

  function downloadPng() {
    // The process to download the graphic in the SVG element as an image file
    // is a far more complicated than it looks on the surface. The general
    // process is as follows:
    //
    //  1. Create an HTML IMG element using the raw SVG as its source.
    //  2. Add this image to an HTML canvas.
    //  3. Use the canvas.toBlob() to create binary image (image/png)
    //     out of the SVG that we created on step 1.
    //  4. Force the download of the binary image.
    //
    // Source: http://dinbror.dk/blog/how-to-download-an-inline-svg-as-jpg-or-png/
    var svgHtml = '<svg xmlns="http://www.w3.org/2000/svg" width="' + svgWidth + '" height="' + svgHeight + '">\r\n' +
      '<rect width="100%" height="100%" fill="white"/>\r\n' +
      $("#svgElement").html() + '\r\n' +
      '</svg>';
    var svgRaw = "data:image/svg+xml," + encodeURIComponent(svgHtml);

    var canvas = document.getElementById("canvasElement");
    canvas.setAttribute("width", svgWidth);
    canvas.setAttribute("height", svgHeight);

    var ctx = canvas.getContext("2d");
    var svgImage = new Image();

    svgImage.onload = function () {
      // Draw the SVG image inside the canvas
      ctx.drawImage(svgImage, 0, 0, svgWidth, svgHeight);

      // Generate a binary version of the canvas
      canvas.toBlob(function (blob) {
        url = URL.createObjectURL(blob);

        // Tell the browser that is safe to garbage collect the created blob
        // once it has been loaded.
        var pngImg = document.createElement("img");
        pngImg.onload = function () { URL.revokeObjectURL(url); };
        pngImg.src = url;

        // Set the blob URL as the target of our HTML anchor tag...
        var a = document.getElementById("canvasImgLink");
        var fileName = "coauthors_" + vivoId + ".png";
        a.setAttribute("download", fileName);
        a.setAttribute("href", url);

        // ...and force a click event on the HTML anchor tag
        // (this is what prompts the user to safe the image.)
        var clickEvent = new MouseEvent("click", {
          "view": window,
          "bubbles": true,
          "cancelable": true
        });
        a.dispatchEvent(clickEvent);
      }, "image/png", 1);
    }

    svgImage.src = svgRaw;
    return false;
  }

  function showEmbedHtml() {
    // Dump the HTML to a text area element...
    var svgElement = $("#svgElement").html();
    var svgHtml = '<svg width="' + svgWidth + '" height="' + svgHeight + '">\r\n' + svgElement + '\r\n</svg>';
    $("#embedHtmlDiv").removeClass("hidden");
    $("#embedHtmlText").val(svgHtml);

    // ...and scroll to the text area element into view.
    // https://stackoverflow.com/a/5909328/446681
    $('html, body').animate({
      scrollTop: $(document).height()-$(window).height()},
      1400,
      "swing"
    );
    return false;
  }


  function nodeColor(d, i) {
    if (d.level == 0) {
      return "#1f77b4"; // blue
    } else if(d.level ==1) {
      return "#aec7e8"; // light blue
    }
    return "#c7c7c7";   // light gray
  }

  function drawGraph(data, status) {
    var i;
    var svg = d3.select("svg");
    var w = +svg.attr("width");
    var h = +svg.attr("height");
    var dataset = {nodes: data.nodes, edges: []};

    // calculate the edges from the data
    for(i = 0; i < data.links.length; i++) {
      obj = {
        source: getNodeIndex(data.nodes, data.links[i].source),
        target: getNodeIndex(data.nodes, data.links[i].target)
      };
      dataset.edges.push(obj);
    }

    // set all nodes to level 2 initially
    //
    // level 0 - author
    // level 1 - coauthor
    // level 2 - coauthor's coauthor
    for(i = 0; i < dataset.nodes.length; i++) {
      dataset.nodes[i].level = 2;
    }

    // find first level nodes
    var rootIndex = getNodeIndex(data.nodes, facultyId);
    var firstLevel = [];
    var edge;
    for(i = 0; i < dataset.edges.length; i++) {
      edge = dataset.edges[i];
      if (edge.source == rootIndex) {
        firstLevel.push(edge.target);
      } else if(edge.target == rootIndex) {
        firstLevel.push(edge.source);
      }
    }

    // mark the first level nodes
    for(i = 0; i < dataset.edges.length; i++) {
      edge = dataset.edges[i];
      if(inArray(firstLevel, edge.target)) {
        dataset.nodes[edge.target].level = 1;
      } else if(inArray(firstLevel, edge.source)) {
        dataset.nodes[edge.source].level = 1;
      }
    }

    // mark the root
    for(i = 0; i < dataset.nodes.length; i++) {
      if (dataset.nodes[i].id == facultyId) {
        dataset.nodes[i].level = 0;
        break;
      }
    }

    var colors = d3.scaleOrdinal(d3.schemeCategory10);

    var force = d3.forceSimulation(dataset.nodes)
      .force("charge", d3.forceManyBody())
      .force("center", d3.forceCenter(w/2, h/2));

    var forceToFit = window.location.href.indexOf("?fit") != -1;
    if (forceToFit) {
      force.force("link", d3.forceLink(dataset.edges));
    } else {
      force.force("link", d3.forceLink(dataset.edges).distance(function(d) {return 100;}).strength(0.1))
    }

    var edges = svg.selectAll("line")
      .data(dataset.edges)
      .enter()
      .append("line")
      .style("stroke", "#ccc")
      .style("stroke-width", 1);
      // .attr("stroke-width", function(d) { return Math.sqrt(d.value); });

    var dragstarted = function(d) {
      if (!d3.event.active) force.alphaTarget(0.3).restart();
      d.fx = d.x;
      d.fy = d.y;
    }

    var dragged = function(d) {
      d.fx = d3.event.x;
      d.fy = d3.event.y;
    }

    var dragended = function (d) {
      if ($("#forceToFit").prop("checked") == true) {
        $("#forceToFit").attr("checked", false);
      }
    }

    var nodes = svg.selectAll("g")
      .data(dataset.nodes)
      .enter()
      .append("g")
      .call(d3.drag()
          .on("start", dragstarted)
          .on("drag", dragged)
          .on("end", dragended));

    nodes.append("circle")
      .attr("r", function(d) {
        if (d.level == 0) {
          return 15;
        } else if(d.level == 1) {
          return 11;
        }
        return 6;
      })
      .style("fill", nodeColor);

    nodes.on('mouseover', function(d){
      var showDetails = $("#showDetails").is(":checked");
      if(showDetails) {
        // https://stackoverflow.com/a/24041991/446681
        var matrix = this.getScreenCTM().translate(+ this.getAttribute("cx"), + this.getAttribute("cy"));
        var xPos = window.pageXOffset + matrix.e + 15;
        var yPos = window.pageYOffset + matrix.f - 30;
        d3.select("#tooltip")
          .style("left", xPos + "px")
          .style("top", yPos + "px")
          .select("#title")
          .text(d.name);
        d3.select("#subtitle").text(d.group);
        if (d.level == 0) {
          d3.select("#subtitle2").classed("hidden", true);
        } else {
          d3.select("#subtitle2").classed("hidden", false).text("Click to view " + d.name + "'s coauthors");
        }
        d3.select("#tooltip").classed("hidden", false);
      } else {
          d3.select(this).select('text')
            .style("font-weight", "bold")
            .style("font-size", "12px");
      }
      d3.select(this).select('circle').style("fill", "#ffbb78");
    });

    nodes.on('mouseout', function(d){
      var showDetails = $("#showDetails").is(":checked");
      if(showDetails) {
        d3.select("#tooltip").classed("hidden", true);
      } else {
        d3.select(this).select('text')
          .style("font-weight", "normal")
          .style("font-size", "10px");
      }
      d3.select(this).select('circle').style("fill", nodeColor(d, 0));
    });

    nodes.on('click', function(d){
      if (d.level == 0) {
        // do nothing
      } else {
        var shortId = d.id.substring(d.id.lastIndexOf("/")+1);
        var currentSegment = "/display/" + vivoId + "/viz/";
        var newSegment = "/display/" + shortId + "/viz/";
        var newUrl = window.location.toString().replace(currentSegment, newSegment);
        window.location.assign(newUrl);
      }
    });

    nodes.selectAll("circle").on('mouseout', function(d){
      d3.select(this).style("fill", nodeColor(d, 0));
    });

    nodes.append("text")
      .style("font-size", function(d) { return d.level == 0 ? "12px" : "8px"; })
      .style("font-weight", function(d) { return d.level == 0 ? "bold" : "normal"; })
      .attr("class", "node-text")
      .text(function(d) { return d.name; });

    force.on("tick", function() {
      edges.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; })
      nodes.attr("transform", function(d) {
        return 'translate(' + [d.x, d.y] + ')';
      });
    });

    updateLabels();
  } // function drawGraph() {

</script>
