<script type="text/javascript" src="<%= root_url %>javascripts/d3.v4.min.js"></script>

<% @page_title = (@presenter.organization.name || "") + " Publication Timeline"%>

<%= render "visualization/viz_style" %>
<%= render "visualization/viz_javascript" %>
<%= render "search_box" %>

<h1 class="researcherName"><%= @presenter.organization.name %></h1>

<div class="row">
  <div class="col-md-9">
    <div id="descriptionMsg">
      The publication history visualization for an organization is created with
      the information provided by each researcher associated with this organization
      under the Publications tab for their profile.
    </div>
    <div id="errorMsg" class="alert alert-warning hidden" role="alert">
      <p><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>No publication data is available for this organization.</p>
      <p>If you are a member of this organization you can define your publications
        via the <a target="_blank" href="<%= manager_url() %>">manager</a>.
      </p>
    </div>
    <div class="btn-group btn-group" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button id="showLevel1" type="button" class="btn btn-default"
          title="Show publication history for the last 10 years">Last 10 years</button>
      </div>
      <div class="btn-group" role="group">
        <button id="showLevel2" type="button" class="btn btn-default"
          title="Show all publication history">All history</button>
      </div>
    </div>
    <div id="loadingMsg">
      <button class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading visualization...</button>
    </div>
    <svg id="svgElement" width="960" height="700" xmlns="http://www.w3.org/2000/svg"></svg>
  </div>
  <div class="col-md-3">
    <a class="btn btn-default btn-lg" role="button" href="<%= visualization_collab_path(@presenter.organization.vivo_id) %>" >Collaboration Network</a>
    <a class="btn btn-primary btn-lg" role="button" href="<%= visualization_publications_path(@presenter.organization.vivo_id) %>" >Publication History</a>
    <a class="btn btn-default btn-lg" role="button" href="<%= visualization_research_path(@presenter.organization.vivo_id) %>" >Research Areas</a>
    <p>&nbsp;</p>
    <div id="legend">
    <p><b>Legend</b></p>
    <ul id="legendList" class="legend">
      <!-- added via JavaScript -->
    </ul>
    </div>
    <p><b>Options</b></p>
    <p><a href="<%= display_show_path(@presenter.organization.vivo_id) %>">View Organization's Profile</a></p>
    <p>Show details on mouse hover&nbsp;<input id="showDetails" type="checkbox" checked/></p>
    <p><b>Data</b></p>
    <p><a href="<%= visualization_publications_path(@presenter.organization.vivo_id, format: :csv) %>"
      title="Format suitable for Excel and other tools."
      target="_blank">Download data (CSV)</a></p>
    <p><a href="<%= visualization_publications_path(@presenter.organization.vivo_id, format: :json) %>"
      title="Format suitable for D3 and other visualization tools."
      target="_blank">Download data (JSON)</a></p>
    <p><a href="#" id="embedHtml" title="Shows HTML to embed the graph as an SVG element into your own page.">Embed SVG Code</a></p>
    <p><a href="#" id="downloadPng" title="Downlods the graph as an image file in PNG format. This only works in Chrome and Firefox.">Download Image (PNG)</a></p>
  </div>
</div>

<div class="row hidden" id="canvasDiv">
  <canvas id="canvasElement"></canvas>
  <a id="canvasImgLink" href="#" download="collaborators.png" target="_blank"></a>
</div>

<div class="row hidden" id="embedHtmlDiv">
  <div class="col-md-12">
    <p>Copy the following HTML to embed the SVG into your own page</p>
    <textarea id="embedHtmlText" rows="15" class="htmlSnippet"></textarea>
  </div>
  <div><p>&nbsp;</p></div>
</div>

<div id="tooltip" class="hidden">
  <p id="title" style="margin:0;"></p>
  <p id="subtitle" style="margin:0;"></p>
  <p id="subtitle2" style="margin:0;"></p>
</div>

<script>

  var facultyId = "<%= @presenter.organization.id %>";     // http://vivo.brown.edu/jcarberry
  var vivoId = "<%= @presenter.organization.vivo_id %>";   // jcarberry
  var jsonDataUrl = "<%= visualization_publications_path(@presenter.organization.vivo_id, format: :json) %>";
  var researcherUrl = "<%= display_show_path('placeholder') %>";
  var svgWidth = 960;
  var svgHeight = 700;
  var theData = null;
  var showLevel = 1;

  $(document).ready(function() {

    $.getJSON(jsonDataUrl, function(data, status) {
      theData = data; // save the data in our global variable
      drawGraph();
    });

    $("#showLevel1").on("click", function() { showLevel = 1; drawGraph(); return false; });
    $("#showLevel2").on("click", function() { showLevel = 2; drawGraph(); return false; });

    $("#embedHtml").on("click", function() {
      showEmbedHtml("svgElement", svgWidth, svgHeight, "embedHtmlDiv", "embedHtmlText");
    });

    $("#downloadPng").on("click", function() {
      downloadPng("svgElement", svgWidth, svgHeight,
        "canvasElement", "canvasImgLink", "collabs_" + vivoId + ".png");
    });
  });

  function drawGraph() {
    var data = theData;
    $("#loadingMsg").addClass("hidden");

    if (data.nodes === undefined || data.nodes.length == 0) {
      $("#errorMsg").removeClass("hidden");
    }

    var facultyDetails = function(id) {
      var i;
      for(i = 0; i < theData.nodes.length; i++) {
        if (theData.nodes[i].faculty_id == id) {
          return theData.nodes[i];
        }
      }
      return null;
    }

    var i;
    var svg = d3.select("svg");
    var margin = {top: 20, right: 20, bottom: 30, left: 50};
    var w = +svg.attr("width") - margin.left - margin.right;
    var h = +svg.attr("height") - margin.top - margin.bottom;
    var parseTime = d3.timeParse("%d-%b-%y");
    var x = d3.scaleLinear().rangeRound([0, w]);
    var y = d3.scaleLinear().rangeRound([h, 0]);
    var line = d3.line()
        .x(function(d) { return x(d.year); })
        .y(function(d) { return y(d.count); });

    var svg = d3.select("svg");
    svg.selectAll("*").remove();

    var g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    var x = d3.scaleBand().rangeRound([0, w]).paddingInner(0.05).align(0.1);
    var y = d3.scaleLinear().rangeRound([h, 0]);

    var colorScheme = d3.scaleOrdinal(d3.schemeCategory20);

    $("#showLevel1").addClass("btn-default");
    $("#showLevel2").addClass("btn-default");
    $("#showLevel1").removeClass("btn-info");
    $("#showLevel2").removeClass("btn-info");

    var years;
    if (showLevel == 1) { // last 10 years
      data = theData.matrix.slice(-10);
      years = theData.years.slice(-10);
      $("#showLevel1").addClass("btn-info");
      $("#showLevel1").removeClass("btn-default");
    } else { // al history
      data = theData.matrix;
      years = theData.years;
      $("#showLevel2").addClass("btn-info");
      $("#showLevel2").removeClass("btn-default");
    }
    var keys = theData.columns;

    x.domain(years);
    y.domain([0, d3.max(data, function(d) { return d.total; })]).nice();

    // Source: https://bl.ocks.org/mbostock/3886208
    g.append("g")
      .selectAll("g")
      .data(d3.stack().keys(keys)(data))
      .enter().append("g")
        .attr("fill", function(d) { return colorScheme(d.key); })
        .on('mouseover', function(d,da,db){
          // Highlight the researcher. Notice that it highlights all the blocks
          // (i.e. all years) for this researcher.
          var g = d3.select(this);
          g.attr("stroke","blue");
          g.attr("stroke-width","2");

          var showDetails = $("#showDetails").is(":checked");
          if(showDetails) {
            // Show the tooltip with the faculty details.
            var faculty = facultyDetails(d.key);
            if (faculty != null) {
              // coordinates: http://www.d3noob.org/2013/01/adding-tooltips-to-d3js-graph.html
              d3.select("#tooltip")
                .style("left", d3.event.pageX + "px")
                .style("top", (d3.event.pageY - 28) + "px")
                .select("#title")
                .text(faculty.name);
              d3.select("#subtitle").text(faculty.group);
              d3.select("#subtitle2").text("Click to view publications for this researcher");
              d3.select("#tooltip").classed("hidden", false);
            }
          }
        })
        .on('mouseout', function(d){
          // Remove highlight and tooltip
          var g = d3.select(this);
          g.attr("stroke","");
          g.attr("stroke-width","0");
          d3.select("#tooltip").classed("hidden", true);
        })
        .on('click', function(d){
          // Make the blocks clickable
          var newUrl = researcherUrl.replace("placeholder", d.key) + "#Publications";
          window.location.assign(newUrl);
        })
      .selectAll("rect")
      .data(function(d) { return d; })
      .enter().append("rect")
        .attr("x", function(d) { return x(d.data.year); })
        .attr("y", function(d) { return y(d[1]); })
        .attr("height", function(d) { return y(d[0]) - y(d[1]); })
        .attr("width", x.bandwidth());

    g.append("g")
        .attr("class", "axis")
        .attr("transform", "translate(0," + h + ")")
        .call(d3.axisBottom(x));

    g.append("g")
        .attr("class", "axis")
        .call(d3.axisLeft(y).ticks(null, "s"))
      .append("text")
        .attr("x", 2)
        .attr("y", y(y.ticks().pop()) + 0.5)
        .attr("dy", "0.32em")
        .attr("fill", "#000")
        .attr("font-weight", "bold")
        .attr("text-anchor", "start")
        .text("Publications");

    // Display the legend
    var id, faculty;
    var ul = $("#legendList");
    ul.empty();
    for(i = 0; i < theData.columns.length; i++) {
      id = theData.columns[i];
      faculty = facultyDetails(id);
      if (faculty != null) {
        ul.append('<li><span style="background-color: ' + colorScheme(id) + ';">&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;' + faculty.name);
      }
    }

  } // function drawGraph() {

</script>
