<button type="button" class="btn btn-link btn-sm search-toggle-more-categories"
  data-toggle="modal" data-target="#modal_form_<%= facet.name %>"
  title="Show more categories from this facet">
    <small class="glyphicon glyphicon-plus"></small>&nbsp;<span>More…</span>
</button>

<!-- Modal -->
<div id="modal_form_<%= facet.name %>" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= facet.title %></h4>
      </div>
      <div class="modal-body">
        <% id_prefix = "modal_form_" + facet.name %>
        <% page_size = 20 %>
        <% page_count = (facet.values.count / page_size).to_i + ((facet.values.count % page_size) == 0 ? 0 : 1) %>
        <a id="<%= id_prefix %>_prev_link" href="javascript:GoPrevPage('<%= facet.name %>');">
          <span id="<%= id_prefix %>_prev_text">« Previous</span>
        </a>
        &nbsp;&nbsp;
        <a id="<%= id_prefix %>_next_link" href="javascript:GoNextPage('<%= facet.name %>');">
          <span id="<%= id_prefix %>_next_text">Next »</span>
        </a>
        &nbsp;&nbsp;
        <a id="<%= id_prefix %>_sort_az" href="javascript:SortFacetByValue('<%= facet.name %>');">A-Z</a>
        &nbsp;&nbsp;
        <a id="<%= id_prefix %>_sort_num" href="javascript:SortFacetByCount('<%= facet.name %>');">9-0</a>
        <input id="<%= id_prefix %>_page_num" value="1">
        <input id="<%= id_prefix %>_page_count" value="<%= page_count %>">
        <p>&nbsp;&nbsp;</p>

        <!-- items added via RenderFacet() JavaScript call (see below)-->
        <div>
          <ul id="<%= id_prefix %>_items">
          </ul>
        </div>

        <script>
          <% facet.values.each_with_index do |value, index| %>
            <% addUrl = search_url() + "?" + @presenter.search_qs + "&fq=" + facet.to_qs(value.text) %>
            <% removeUrl = value.remove_url %>
            AddFacetValue("<%= facet.name %>", "<%= value.text %>", <%= value.count %>, "<%= addUrl %>", "<%= removeUrl %>");
          <% end %>
          RenderFacet("<%= facet.name %>");
        </script>

      </div> <!-- modal body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div> <!-- modal content -->

  </div> <!-- modal-dialog -->
</div> <!-- modal_form -->

<script>
  TooglePrevNextPage("<%= facet.name %>");
</script>
