<!-- search terms used -->
<div class="facet-breadcrumbs">
  <% if !@presenter.query.empty? %>

    <% if @presenter.num_found == 0 %>
      <h3>No results were found</h3>
    <% end %>

    <span class="search-result-facets no-orphans">
      <a href="<%= @presenter.remove_q_url %>" title="Remove search term <%= @presenter.query %>">
        <span><span class="facet-category">Searched for: </span><%= @presenter.query %></span>
        <span class="glyphicon glyphicon-remove"></span>
        <span class="sr-only">Remove search term <%= @presenter.query %></span>
      </a>
    </span>
  <% end %>

  <% @presenter.fq.each do |fq| %>
    <span class="search-result-facets no-orphans">
        <a href="<%= fq.remove_url %>" title="Remove filter <%= fq.value %>">
        <span><span class="facet-category"><%= fq.title %>: </span><%= fq.value %></span>
        <span class="glyphicon glyphicon-remove"></span>
        <span class="sr-only">Remove filter <%= fq.value %></span>
        </a>
    </span>
  <% end %>

  <% if @presenter.num_found > 0 && @presenter.suggest_url != nil %>
    <p>Would you like to see results for
      <a class="search-instead-links" href="<%= @presenter.suggest_url %>"><%= @presenter.suggest_q %></a>
      instead?</p>
  <% end %>
</div>
