<!-- top bar: 1/N results found -->
<div id="search-result-count" class="text-muted">
  <% if @presenter.page == 1 %>
    <span class="search-result-previous">
      <span class="glyphicon glyphicon-chevron-left is-inactive" aria-hidden="true"></span>
      <span class="chevron-nav-title"> Previous</span>
    </span>
  <% else %>
    <span class="search-result-previous is-active">
      <a href="<%= @presenter.previous_url %>" >
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="chevron-nav-title"> Previous </span>
      </a>
    </span>
  <% end %>

  <span class="search-result-numbers">
    <span id="search-page-start"><%= @presenter.start + 1 %></span>
    -
    <span id="search-page-end"><%= @presenter.end %></span>
    of
    <span id="search-total-matching"><%= @presenter.num_found %></span>
    search results
  </span>

  <% if @presenter.page >= (@presenter.num_pages) %>
    <span class="search-result-next">
      <span class="chevron-nav-title">Next </span>
      <span class="glyphicon glyphicon-chevron-right is-inactive" aria-hidden="true"></span>
    </span>
  <% else %>
    <span class="search-result-next is-active">
      <a href="<%= @presenter.next_url %>">
        <span class="chevron-nav-title">Next </span>
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </a>
    </span>
  <% end %>
</div>
