<div class="container-fluid col-sm-12">
  <div class="row col-lg-12 col-md-12 col-sm-12">
    <p>&nbsp;</p>
    <div class="wrapper__back-to-search col-xs-12">
      <a href="<%= search_url() %>" class="back-to-search">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back to search
      </a>
    </div>
    <h2>Advanced Search</h2>
    <%= form_tag(search_advanced_path(), method: "get") do %>
      <div class="form-group">
        <label for="name">Researcher Name</label>
        <input class="form-control" id="name_t" name="name_t" placeholder="" type="text" value="<%= @presenter.name %>" >
      </div>
      <div class="form-group">
        <label for="title">Researcher Title</label>
        <input class="form-control" id="title_t" name="title_t" placeholder="" type="text" value="<%= @presenter.title %>" >
      </div>
      <!-- Don't do this until we tokenize the department field
       <div class="form-group">
        <%= label_tag(:department, "Department (e.g. Department, Center):") %>
        <input class="form-control" id="department_t" name="department_t" placeholder="" type="text" value="<%= @presenter.department %>" >
      </div> -->
      <input class="hidden" id="search" name="search" value="true" >
      <button type="submit" class="btn btn-default btn-lg sympl-search">Search</button>
    <% end %>
  </div>
</div>

<script>
  $(function() {
    $("#name_t").focus();
  });
</script>
