<script>
  
  // function mobileFacetsToggle() {
    $(".site-logo").click(function() {
      console.log("start no scroll");
      $(".search-facets-test").toggleClass("noScroll");
      console.log("end no scroll");
      $(".results-wrapper").toggleClass("bkg-test");
      console.log("background static???");
      $(".search-facets-test").toggleClass("slide-in-out");
            console.log("triggered");
     });
  // }

</script>
<%= render "results_javascript" %>

<%= render "search_box" %>

<div class="container-fluid results-page col-sm-12">
  <%= render "manage_profile_login" %>
  <% if @presenter.num_found == 0 %>
    <div class="row search-result-none-wrapper col-lg-12 col-md-12 col-sm-12">
      <div class="subnavbar__pseudo"></div>
      <div class="results-wrapper col-lg-9 col-lg-push-3 col-md-9 col-md-push-3 col-sm-8 col-sm-push-4">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div id="search-result-none" class="col-lg-8 col-md-8 col-sm-8">
            <p>No results were found for <b><%= @presenter.query %></b>.</p>
            
            <% if @presenter.suggest_url != nil %>
              <p>Would you like to search for
                <a href="<%= @presenter.suggest_url %>"><%= @presenter.suggest_q %></a>
                instead?</p>
              <% end %>
          </div>
        </div>
    <% else %>
      <div class="row results-page-wrapper">
        <div class="results-wrapper col-lg-9 col-lg-push-3 col-md-9 col-md-push-3 col-sm-8 col-sm-push-4">
          <div class="result-nums-breadcrumbs-wrapper">
              <!-- top bar: 1/N results found -->
              <div id="search-result-count" class="text-muted">
                  <% if @presenter.page == 1 %>
                    <span class="search-result-previous">
                      <span class="glyphicon glyphicon-chevron-left is-inactive" aria-hidden="true"></span><span class="chevron-nav-title"> Previous</span>
                    </span>
                  <% else %>
                    <span class="search-result-previous is-active">
                      <a href="<%= @presenter.previous_url %>" ><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="chevron-nav-title"> Previous </span></a>
                    </span>
                  <% end %>
                
                  <span class="search-result-numbers">
                    <span id="search-page-start"><%= @presenter.start + 1 %></span>
                    -
                    <span id="search-page-end"><%= @presenter.end %></span>
                    of
                    <span id="search-total-matching"><%= @presenter.num_found %></span>
                    search results
                  </span>

                  <% if @presenter.page >= (@presenter.num_pages) %>
                    <span class="search-result-next"><span class="chevron-nav-title">Next </span><span class="glyphicon glyphicon-chevron-right is-inactive" aria-hidden="true"></span>
                    </span>
                  <% else %>
                    <span class="search-result-next is-active">
                      <a href="<%= @presenter.next_url %>" ><span class="chevron-nav-title">Next </span><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                    </span>
                  <% end %>
              </div>
        <% end %>

        <%= render "results_search_terms" %>
      </div> <!-- result-nums-breadcrumbs-wrapper -->

      <h2 class="visible-print">Results</h2>

      <!-- search results -->
      <div class="row results-row col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <!--added for single row approach -->
          <h3 class="hidden">Fully-matching results</h3>

          <div class="clearfix visible-md-block"></div>
          <div class="clearfix visible-lg-block"></div>

          <% @presenter.results.each_with_index do |item, index| %>
            <div class="clearfix visible-sm-block"></div>
            <div class="clearfix visible-xs-block"></div>
            <!-- RESULTS ITEM BEGINS -->
            <div class="clearfix visible-xs-block"></div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 expert-results ng-scope" data-fb-result="<%= item.uri %>">
              <div class="gap30"></div>
              <section itemscope itemtype="<%= item.type_schema_org() %>" id="individual-intro" class="vcard person" role="region">
                <div class="emailsContainer">
                  <h4>
                    <a href="mailto:<%= item.email %>" title="Email <%= item.email %>"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
                  </h4>
                </div>
                <section class="share-contact" role="region">
                  <div class="share-contact--bottom"></div>
                  <div id="photo-wrapper" class="results__photo">
                    <a href="<%= item.uri %>"><%= image_tag(item.thumbnail, width: "120", class: "img-circle") %></a>
                  </div>
                  <div class="contact-content">
                    <h4>
                      <span itemprop="name" class="fn">
                        <a href="<%= item.uri %>"><%= item.name %></a>
                      </span>
                    </h4>
                    <span class="results-title"><%= item.title %></span>
                  </div>
                </section>
              </section>
            </div>
            <!-- RESULTS ITEM ENDS -->
          <% end %>
      </div> <!-- row results-row col-lg-12 col-md-12 col-sm-12 col-xs-12 -->
      <%= render "results_pagination" %>

    </div> <!-- results-wrapper col-lg-9 col-lg-push-3 ... -->
  <% if @presenter.num_found > 0 %>
    <%= render "results_facets" %>
  <% end %>
  </div> <!-- row -->
</div> <!-- container-fluid col-sm-12 -->
