<%= render "results_javascript" %>

<%= render "search_box" %>

<div class="container-fluid col-sm-12">
  <div class="row">
    <div class="results-wrapper col-lg-9 col-lg-push-3 col-md-9 col-md-push-3 col-sm-8 col-sm-push-4">
      <div class="result-nums-breadcrumbs-wrapper">
        <% if @presenter.num_found == 0 %>
          <div id="search-result-none">
            <p>No results were found for <b><%= @presenter.query %></b>.
            <% if @presenter.suggest_url != nil %>
              <p>Would you like to search for
                <a href="<%= @presenter.suggest_url %>"><%= @presenter.suggest_q %></a>
                instead?</p>
              <% end %>
          </div>
        <% else %>
          <!-- top bar: 1/N results found -->
          <div id="search-result-count" class="text-muted">
              <% if @presenter.page == 1 %>
                « Previous |
              <% else %>
                <a href="<%= @presenter.previous_url %>" >« Previous | </a>
              <% end %>

              <span id="search-page-start"><%= @presenter.start + 1 %></span>
              -
              <span id="search-page-end"><%= @presenter.end %></span>
              of
              <span id="search-total-matching"><%= @presenter.num_found %></span>
              search results

              <% if @presenter.page >= (@presenter.num_pages) %>
                | Next »
              <% else %>
                <a href="<%= @presenter.next_url %>" >| Next »</a>
              <% end %>
          </div>
        <% end %>
        <%= render "results_search_terms" %>
      </div> <!-- result-nums-breadcrumbs-wrapper -->

      <h2 class="visible-print">Results</h2>

      <!-- search results -->
      <div class="row results-row col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <!--added for single row approach -->
          <h3 class="hidden">Fully-matching results</h3>

          <div class="clearfix visible-md-block"></div>
          <div class="clearfix visible-lg-block"></div>

          <% @presenter.results.each_with_index do |item, index| %>
            <div class="clearfix visible-sm-block"></div>
            <div class="clearfix visible-xs-block"></div>
            <!-- RESULTS ITEM BEGINS -->
            <div class="clearfix visible-xs-block"></div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 expert-results ng-scope" data-fb-result="<%= item.uri %>">
              <div class="gap30"></div>
              <section itemscope itemtype="<%= item.type_schema_org() %>" id="individual-intro" class="vcard person" role="region">
                <div class="emailsContainer">
                  <h4>
                    <a href="mailto:<%= item.email %>" title="Email <%= item.email %>"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
                  </h4>
                </div>
                <section class="share-contact" role="region">
                  <div class="share-contact--bottom"></div>
                  <div id="photo-wrapper" class="results__photo">
                    <a href="<%= item.uri %>"><%= image_tag(item.thumbnail, width: "120", class: "img-circle") %></a>
                  </div>
                  <div class="contact-content">
                    <h4>
                      <span itemprop="name" class="fn">
                        <a href="<%= item.uri %>"><%= item.name %></a>
                      </span>
                    </h4>
                    <span class="results-title"><%= item.title %></span>
                  </div>
                </section>
              </section>
            </div>
            <!-- RESULTS ITEM ENDS -->
          <% end %>
      </div> <!-- row results-row col-lg-12 col-md-12 col-sm-12 col-xs-12 -->
      <%= render "results_pagination" %>
    </div> <!-- results-wrapper col-lg-9 col-lg-push-3 ... -->
    <%= render "results_facets" %>
  </div> <!-- row -->
</div> <!-- container-fluid col-sm-12 -->
