<script>
// These functions must be rendered before the result_facets
// partial view is rendered so that they are available by
// the time they are called.
  var facetsData = {};

  function AddFacetValue(facetName, value, count, addUrl, removeUrl) {
    if (facetsData[facetName] === undefined) {
      facetsData[facetName] = [];
    }
    item = {value: value, count: count, addUrl: addUrl, removeUrl: removeUrl};
    facetsData[facetName].push(item);
  }

  function SortFacetByValue(facetName) {
    facetsData[facetName] = facetsData[facetName].sort(function(a,b) {
      // sort ascending
      if (a.value.toUpperCase() < b.value.toUpperCase()) return -1;
      if (a.value.toUpperCase() > b.value.toUpperCase()) return 1;
      return 0;
    });

    var sortAzId = "#modal_form_" + facetName + "_sort_az";
    var sortNumId = "#modal_form_" + facetName + "_sort_num";
    $(sortAzId).addClass("active");
    $(sortNumId).removeClass("active");
    GoFirstPage(facetName);
  }

  function SortFacetByCount(facetName) {
    facetsData[facetName] = facetsData[facetName].sort(function(a,b) {
      // sort descending
      if (a.count < b.count) return 1;
      if (a.count > b.count) return -1;
      return 0;
    });
    var sortAzId = "#modal_form_" + facetName + "_sort_az";
    var sortNumId = "#modal_form_" + facetName + "_sort_num";
    $(sortAzId).removeClass("active");
    $(sortNumId).addClass("active");
    GoFirstPage(facetName);
  }

  function RenderFacet(facetName) {
    var pageNumId = "#modal_form_" + facetName + "_page_num";
    var pageNum = parseInt($(pageNumId).val(), 10);
    var ulId = "#modal_form_" + facetName + "_items";
    var ul = $(ulId);
    var start = (pageNum - 1) * 20;
    var stop = Math.min(facetsData[facetName].length, start + 20);
    $(ul).children().remove();
    var i, item, text, href, html;
    for(i = start ; i < stop; i++) {
      item = facetsData[facetName][i];
      if (item.removeUrl == "") {
          href = "<a href='" + item.addUrl + "'>" + item.value + "</a>";
          text = "(" + item.count + ")";
          html = "<li>" + href + " " + text
      } else {
          text = item.value + " (" + item.count + ")";
          href = "<a href='" + item.removeUrl + "'><span class='glyphicon glyphicon-remove'></span></a>";
          html = "<li>" + text + " " + href;
      }
      $(ul).append(html);
    }
    TooglePrevNextPage(facetName);
  }

  function TooglePrevNextPage(facetName) {
    var pageNumId = "#modal_form_" + facetName + "_page_num";
    var pageCountId = "#modal_form_" + facetName + "_page_count";
    var prevLinkId = "#modal_form_" + facetName + "_prev_link";
    var nextLinkId = "#modal_form_" + facetName + "_next_link";
    var number = parseInt($(pageNumId).val(), 10);
    var pageCount = parseInt($(pageCountId).val(), 10);

    if (number == 1) {
      $(prevLinkId).unbind("click");
      $(prevLinkId).addClass("disabled");
    } else {
      $(prevLinkId).bind("click");
      $(prevLinkId).removeClass("disabled");
    }

    if (number == pageCount) {
      $(nextLinkId).unbind("click");
      $(nextLinkId).addClass("disabled");
    } else {
      $(nextLinkId).bind("click");
      $(nextLinkId).removeClass("disabled");
    }
  }

  function GoPrevPage(facetName) {
    var pageNumId = "#modal_form_" + facetName + "_page_num";
    var number = parseInt($(pageNumId).val(), 10);
    if (number > 1) {
      // update the page number, refresh the data and prev/next
      $(pageNumId).val(number - 1);
      RenderFacet(facetName);
    }
  }

  function GoNextPage(facetName) {
    var pageNumId = "#modal_form_" + facetName + "_page_num";
    var pageCountId = "#modal_form_" + facetName + "_page_count";
    var number = parseInt($(pageNumId).val(), 10);
    var pageCount = parseInt($(pageCountId).val(), 10);
    if (number < pageCount) {
      // update the page number, refresh the data and prev/next
      $(pageNumId).val(number + 1);
      RenderFacet(facetName);
    }
  }

  function GoFirstPage(facetName) {
    var pageNumId = "#modal_form_" + facetName + "_page_num";
    $(pageNumId).val(1);
    RenderFacet(facetName);
  }
</script>

<%= render "search_box" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-push-2">
      <!-- 1/N results found -->
      <div id="search-result-count" class="text-muted">
          <% if @presenter.page == 1 %>
            « Previous |
          <% else %>
            <a href="<%= @presenter.previous_url %>" >« Previous | </a>
          <% end %>

          <span id="search-page-start"><%= @presenter.start + 1 %></span>
          -
          <span id="search-page-end"><%= @presenter.end %></span>
          of
          <span id="search-total-matching"><%= @presenter.num_found %></span>
          search results

          <% if @presenter.page >= (@presenter.num_pages) %>
            | Next »
          <% else %>
            <a href="<%= @presenter.next_url %>" >| Next »</a>
          <% end %>
      </div>

      <!-- search terms used -->
      <div>
        <% if !@presenter.query.empty? %>
          for <b><%= @presenter.query %></b>
          <a href="<%= @presenter.remove_q_url %>">
            <span class="glyphicon glyphicon-remove"></span>
            <span class="sr-only">Remove search term <%= @presenter.query %></span>
          </a>
        <% end %>
        <% @presenter.fq.each do |fq| %>
          (<%= fq.title %> > <%= fq.value %>
            <a href="<%= fq.remove_url %>">
              <span class="glyphicon glyphicon-remove"></span>
              <span class="sr-only">Remove facet <%= fq.value %></span>
            </a>)
        <% end %>
      </div>

      <h2 class="visible-print">Results</h2>

      <!-- search results -->
      <div class="row">
          <!--added for single row approach -->
          <h3 class="hidden">Fully-matching results</h3>

          <div class="clearfix visible-md-block"></div>
          <!-- <div class="row top-buffer"> -->
          <div class="clearfix visible-lg-block"></div>

          <% @presenter.results.each do |item| %>
            <div class="clearfix visible-sm-block"></div>
            <div class="clearfix visible-xs-block"></div>
            <%= render "results_item", item: item %>
          <% end %>
      </div>

      <%= render "results_pagination" %>

    </div>
  <%= render "results_facets" %>
  </div>
</div>
