<script type="text/javascript">
  // This object must be rendered before the `result_facets`
  // partial view is rendered so that it is available by
  // the time the facet data is rendered.
  var facetsMoreObj = {};

  // An object with the data for all facets. Each facet is kept in
  // a separate key, for example:
  //    {
  //      facet1: [values...],
  //      facet2: [values...]
  //    }
  //
  // See AddFacetValue() below.
  facetsMoreObj.data = {};

  facetsMoreObj.AddFacetValue = function(facetName, value, count, addUrl, removeUrl) {
    if (facetsMoreObj.data[facetName] === undefined) {
      facetsMoreObj.data[facetName] = [];
    }
    item = {value: value, count: count, addUrl: addUrl, removeUrl: removeUrl};
    facetsMoreObj.data[facetName].push(item);
  };

  facetsMoreObj.SortFacetByValue = function(facetName) {
    facetsMoreObj.data[facetName] = facetsMoreObj.data[facetName].sort(function(a,b) {
      // sort ascending
      if (a.value.toUpperCase() < b.value.toUpperCase()) return -1;
      if (a.value.toUpperCase() > b.value.toUpperCase()) return 1;
      return 0;
    });

    var sortAzId = "#modal_form_" + facetName + "_sort_az";
    var sortNumId = "#modal_form_" + facetName + "_sort_num";
    $(sortAzId).addClass("active");
    $(sortNumId).removeClass("active");
    facetsMoreObj.GoFirstPage(facetName);
  };

  facetsMoreObj.SortFacetByCount = function(facetName) {
    facetsMoreObj.data[facetName] = facetsMoreObj.data[facetName].sort(function(a,b) {
      // sort descending
      if (a.count < b.count) return 1;
      if (a.count > b.count) return -1;
      return 0;
    });
    var sortAzId = "#modal_form_" + facetName + "_sort_az";
    var sortNumId = "#modal_form_" + facetName + "_sort_num";
    $(sortAzId).removeClass("active");
    $(sortNumId).addClass("active");
    facetsMoreObj.GoFirstPage(facetName);
  };

  facetsMoreObj.PageNum = function(facetName) {
    var pageNumId = "#modal_form_" + facetName + "_page_num";
    return parseInt($(pageNumId).text(), 10);
  };

  facetsMoreObj.RenderFacet = function(facetName) {
    var pageNum = facetsMoreObj.PageNum(facetName);
    var ulId = "#modal_form_" + facetName + "_items";
    var ul = $(ulId);
    var items = [];
    var filterId = "#modal_form_" + facetName + "_filter";
    var filter = $(filterId).val();
    var pageSize, start, stop, i, item, text, href, html, pageCount;

    if (filter == "") {
      items = facetsMoreObj.data[facetName];
    }
    else {
      for(i = 0; i < facetsMoreObj.data[facetName].length; i++) {
        item = facetsMoreObj.data[facetName][i];
        if (item.value.toUpperCase().includes(filter.toUpperCase())) {
          items.push(item);
        }
      }
    }

    pageSize = 20;
    start = (pageNum - 1) * pageSize;
    stop = Math.min(items.length, start + pageSize);
    pageCount = parseInt(items.length / pageSize) + ((items.length % pageSize) == 0 ? 0 : 1);

    $(ul).children().remove();
    for(i = start; i < stop; i++) {
      item = items[i];
      if (item.removeUrl == null) {
          href = "<a href='" + item.addUrl + "'>" + item.value + "</a>";
          text = "(" + item.count + ")";
          html = "<li>" + href + " " + text
      } else {
          text = item.value + " (" + item.count + ")";
          href = "<a href='" + item.removeUrl + "'><span class='glyphicon glyphicon-remove'></span></a>";
          html = "<li>" + text + " " + href;
      }
      $(ul).append(html);
    }
    facetsMoreObj.TooglePrevNextPage(facetName, pageCount);
  };

  facetsMoreObj.TooglePrevNextPage = function(facetName, pageCount) {
    var prevLinkId = "#modal_form_" + facetName + "_prev_link";
    var nextLinkId = "#modal_form_" + facetName + "_next_link";
    var pageNum = facetsMoreObj.PageNum(facetName)

    if (pageNum == 1) {
      $(prevLinkId).unbind("click");
      $(prevLinkId).addClass("disabled");
    } else {
      $(prevLinkId).bind("click");
      $(prevLinkId).removeClass("disabled");
    }

    if (pageNum >= pageCount) {
      $(nextLinkId).unbind("click");
      $(nextLinkId).addClass("disabled");
    } else {
      $(nextLinkId).bind("click");
      $(nextLinkId).removeClass("disabled");
    }
  };

  facetsMoreObj.GoPrevPage = function(facetName) {
    var pageNum = facetsMoreObj.PageNum(facetName)
    var pageNumId = "#modal_form_" + facetName + "_page_num";
    $(pageNumId).text(pageNum - 1);
    facetsMoreObj.RenderFacet(facetName);
  };

  facetsMoreObj.GoNextPage = function(facetName) {
    var pageNum = facetsMoreObj.PageNum(facetName)
    var pageNumId = "#modal_form_" + facetName + "_page_num";
    $(pageNumId).text(pageNum + 1);
    facetsMoreObj.RenderFacet(facetName);
  }

  facetsMoreObj.GoFirstPage = function(facetName) {
    var pageNumId = "#modal_form_" + facetName + "_page_num";
    $(pageNumId).text(1);
    facetsMoreObj.RenderFacet(facetName);
  }
</script>

<%= render "search_box" %>

<div class="container-fluid">
  <div class="row">
    <div class="results-wrapper col-lg-9 col-lg-push-3 col-md-9 col-md-push-3 col-sm-8 col-sm-push-4">

      <% if @presenter.num_found == 0 %>
        <div id="search-result-none">
          <p>No results were found for <b><%= @presenter.query %></b>.

          <% if @presenter.suggest_url != nil %>
            <p>Would you like to search for
              <a href="<%= @presenter.suggest_url %>"><%= @presenter.suggest_q %></a>
              instead?</p>
            <% end %>
        </div>
      <% else %>
        <!-- 1/N results found -->
        <div id="search-result-count" class="text-muted">
            <% if @presenter.page == 1 %>
              « Previous |
            <% else %>
              <a href="<%= @presenter.previous_url %>" >« Previous | </a>
            <% end %>

            <span id="search-page-start"><%= @presenter.start + 1 %></span>
            -
            <span id="search-page-end"><%= @presenter.end %></span>
            of
            <span id="search-total-matching"><%= @presenter.num_found %></span>
            search results

            <% if @presenter.page >= (@presenter.num_pages) %>
              | Next »
            <% else %>
              <a href="<%= @presenter.next_url %>" >| Next »</a>
            <% end %>
        </div>
      <% end %>

      <!-- search terms used -->
      <div class="facet-breadcrumbs">
        <% if !@presenter.query.empty? %>
          for <b><%= @presenter.query %></b>
          <a href="<%= @presenter.remove_q_url %>">
            <span class="glyphicon glyphicon-remove"></span>
            <span class="sr-only">Remove search term <%= @presenter.query %></span>
          </a>
        <% end %>
        <% @presenter.fq.each do |fq| %>
          (<%= fq.title %> > <%= fq.value %>
            <a href="<%= fq.remove_url %>">
              <span class="glyphicon glyphicon-remove"></span>
              <span class="sr-only">Remove facet <%= fq.value %></span>
            </a>)
        <% end %>

        <% if @presenter.num_found > 0 && @presenter.suggest_url != nil %>
          <p>Would you like to see additional results for
            <a href="<%= @presenter.suggest_url %>"><%= @presenter.suggest_q %></a>
            instead?</p>
        <% end %>
      </div>

      <h2 class="visible-print">Results</h2>

      <!-- search results -->
      <div class="row results-row col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <!--added for single row approach -->
          <h3 class="hidden">Fully-matching results</h3>

          <div class="clearfix visible-md-block"></div>
          <!-- <div class="row top-buffer"> -->
          <div class="clearfix visible-lg-block"></div>

          <% @presenter.results.each_with_index do |item, index| %>
            <div class="clearfix visible-sm-block"></div>
            <div class="clearfix visible-xs-block"></div>
            <!-- render "results_item", item: item -->

<!-- RESULTS ITEM BEGINS -->
            <div class="clearfix visible-xs-block"></div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 expert-results ng-scope" data-fb-result="<%= item.uri %>">
              <div class="gap30"></div>
              <section itemscope="" itemtype="http://schema.org/Person" id="individual-intro" class="vcard person" role="region">
                <div class="emailsContainer">
                  <h4>
                    <a href="mailto:<%= item.email %>"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
                  </h4>
                </div>
                <section class="share-contact" role="region">
                  <div class="share-contact--bottom"></div>
                  <div id="photo-wrapper" class="results-photo">
                    <a href="<%= item.uri %>"><%= image_tag(item.thumbnail, width: "120", class: "img-circle") %></a>
                  </div>
                  <div class="contact-content">
                    <h4>
                      <span itemprop="name" class="fn">
                        <a href="<%= item.uri %>"><%= item.name %></a>
                      </span>
                    </h4>
                    <%= item.title %>
                  </div>
                </section>
              </section>
            </div>
<!-- RESULTS ITEM ENDS -->

          <% end %>
      </div>

      <%= render "results_pagination" %>

    </div>
  <%= render "results_facets" %>
  </div>
</div>
