<script>
  // This must be rendered before result_facets partial
  // so that when rendering the partial the JS  is available.
  function TooglePrevNextPage(facetName) {
    var pageNumId = "#modal_form_" + facetName + "_page_num";
    var number = parseInt($(pageNumId).val(), 10);
    var pageCountId = "#modal_form_" + facetName + "_page_count";
    var pageCount = parseInt($(pageCountId).val(), 10);
    var prevLinkId = "#modal_form_" + facetName + "_prev_link";
    var prevTextId = "#modal_form_" + facetName + "_prev_text";
    var nextLinkId = "#modal_form_" + facetName + "_next_link";
    var nextTextId = "#modal_form_" + facetName + "_next_text";

    if (number == 1) {
      $(prevLinkId).unbind("click");
      $(prevTextId).addClass("text-muted");
    } else {
      $(prevLinkId).bind("click");
      $(prevTextId).removeClass("text-muted");
    }

    if (number == pageCount) {
      $(nextLinkId).unbind("click");
      $(nextTextId).addClass("text-muted");
      console.log("unbind: " + nextLinkId + ", mute: " + nextTextId);
    } else {
      $(nextLinkId).bind("click");
      $(nextTextId).removeClass("text-muted");
      console.log("bind: " + nextLinkId + ", unmute: " + nextTextId);
    }
  }

  function GoPrevPage(facetName) {
    // get the current page number
    var pageNumId = "#modal_form_" + facetName + "_page_num";
    var number = parseInt($(pageNumId).val(), 10);
    if (number > 1) {
      // hide the current page
      var thisId = "#modal_form_" + facetName + "_page_" + number;
      $(thisId).addClass("hidden");

      // show the previous page
      var prevId = "#modal_form_" + facetName + "_page_" + (number - 1);
      $(prevId).removeClass("hidden");

      // update the page number
      $(pageNumId).val(number - 1);

      TooglePrevNextPage(facetName);
    }

  }
  function GoNextPage(facetName) {
    // get the current page number and total number of pages
    var pageNumId = "#modal_form_" + facetName + "_page_num";
    var number = parseInt($(pageNumId).val(), 10);

    var pageCountId = "#modal_form_" + facetName + "_page_count";
    var pageCount = parseInt($(pageCountId).val(), 10);
    if (number < pageCount) {
      // hide the current page
      var thisId = "#modal_form_" + facetName + "_page_" + number;
      $(thisId).addClass("hidden");

      // show the next page
      var nextId = "#modal_form_" + facetName + "_page_" + (number + 1);
      $(nextId).removeClass("hidden");

      // update the page number
      $(pageNumId).val(number + 1);
      TooglePrevNextPage(facetName);
    }
  }
</script>


<%= render "search_box" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-push-2">
      <!-- 1/N results found -->
      <div id="search-result-count" class="text-muted">
          <% if @presenter.page == 1 %>
            « Previous |
          <% else %>
            <a href="<%= @presenter.previous_url %>" >« Previous | </a>
          <% end %>

          <span id="search-page-start"><%= @presenter.start + 1 %></span>
          -
          <span id="search-page-end"><%= @presenter.end %></span>
          of
          <span id="search-total-matching"><%= @presenter.num_found %></span>
          search results

          <% if @presenter.page >= (@presenter.num_pages) %>
            | Next »
          <% else %>
            <a href="<%= @presenter.next_url %>" >| Next »</a>
          <% end %>
      </div>

      <!-- search terms used -->
      <div>
        <% if !@presenter.query.empty? %>
          for <b><%= @presenter.query %></b>
          <a href="<%= @presenter.remove_q_url %>">
            <span class="glyphicon glyphicon-remove"></span>
            <span class="sr-only">Remove search term <%= @presenter.query %></span>
          </a>
        <% end %>
        <% @presenter.fq.each do |fq| %>
          (<%= fq.title %> > <%= fq.value %>
            <a href="<%= fq.remove_url %>">
              <span class="glyphicon glyphicon-remove"></span>
              <span class="sr-only">Remove facet <%= fq.value %></span>
            </a>)
        <% end %>
      </div>

      <h2 class="visible-print">Results</h2>

      <!-- search results -->
      <div class="row">
          <!--added for single row approach -->
          <h3 class="hidden">Fully-matching results</h3>

          <div class="clearfix visible-md-block"></div>
          <!-- <div class="row top-buffer"> -->
          <div class="clearfix visible-lg-block"></div>

          <% @presenter.results.each do |item| %>
            <div class="clearfix visible-sm-block"></div>
            <div class="clearfix visible-xs-block"></div>
            <%= render "results_item", item: item %>
          <% end %>
      </div>

      <%= render "results_pagination" %>

    </div>
  <%= render "results_facets" %>
  </div>
</div>
