<div class="clearfix visible-xs-block"></div>
<div class="col-lg-3 col-sm-4 col-md-3 col-xs-12 expert-results ng-scope" data-fb-result="<%= organization_show_url(researcher.id) %>">
  <div class="gap30"></div>
  <section itemscope="" itemtype="http://schema.org/Person" id="individual-intro" class="vcard person" role="region">
    <section class="share-contact" role="region">
      <div id="photo-wrapper">
        <%= image_tag(researcher.thumbnail || "org_placeholder.jpg", alt: "Organization Picture", width: "120") %>
      </div>
      <h4>
        <span itemprop="name" class="fn">
          <a href="<%= organization_show_url(researcher.vivo_id) %>"
            title="<%= organization_show_url(researcher.vivo_id) %>">
              <%= researcher.name %>
          </a>
        </span>
      </h4>
    </section>
  </section>
</div>
