<div class="col-md-2 col-md-pull-10 hidden-print" id="search-facets">
  <h2 class="sr-only">Refine</h2>
  <div id="facet-4" class="facet">
    <div class="panel panel-default">
      <% @presenter.facets.each do |facet| %>
        <div class="panel-heading">
          <h3 class="facetLabel"><%= facet.name %></h3>
        </div>

        <div class="panel-body">
          <ul class="list-unstyled">
            <% facet.values.each do |value| %>
              <li class="category">
                  <span class="">
                    <% if value.remove_url == nil %>
                      <a href="<%= home_search_url() + "?" + @presenter.search_qs + "&fq=" + facet.to_fq(value.text) %>"><%= value.text %></a>
                    <% else %>
                      <%= value.text %>
                      <a href="<%= value.remove_url %>">XXX</a>
                    <% end %>
                  </span>
                  &nbsp;<span class="badge pull-right">
                      <span class="categoryCount"><%= value.count %></span>
                  </span>
              </li>
            <% end %>
          </ul>
          <button type="button" class="btn btn-link btn-sm search-toggle-more-categories" style="display: none;" data-more="More…" data-less="Less…" data-state="more" title="Show more categories from this facet">
              <small class="glyphicon glyphicon-plus"></small>&nbsp;<span>More…</span>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
