<div class="row hero" style="background-image: url( <%= image_url(randomized_background_image()) %>); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;">
  <div class="theme-showcase">
    <div class="col-md-12">
      <div class="container" role="main">

        <div class="jumbotron">
          <!-- Researchers @ BROWN -->
          <img src="<%= image_url('RaB-type.svg') %>"
            style="width: 64%;y: 2em;padding-bottom: 0;margin-bottom: 0;"
            alt="Researchers at Brown">
        </div>

        <form id="search-homepage" action="<%= search_path() %>" name="search-home" role="search" method="GET">
          <div class="input-group input-group-lg">
            <input class="hidden" name="home" type="text" value="">
            <input class="form-control" id="q" name="q" placeholder="Search for an Expert..." type="text">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-default btn-lg sympl-search">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="col-md-12">
      <div class="container">
        <div class="jumbotron">
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row faculty-home">
  <div class="container">
    <div class="col-md-12">
      <h2 class="h1">Recent faculty books</h2>
      <h5><em>Click book jacket to view faculty profile</em></h4>
      <div class="gap20"></div>
      <!-- Use bootstrap carousel to showcase faculty members, edited in lib-home-page.ftl and homePageUtils.js -->

      <section id="faculty-books-carousel" class="carousel slide" data-ride="carousel" data-interval="4000">
        <div style="display: none;" id="tempSpacing">
          <span>Loading books . . .&nbsp;&nbsp;&nbsp;
            <%= image_tag("indicatorWhite.gif") %>
          </span>
        </div>

        <!-- <div id="research-faculty-mbrs" class="carousel-inner" role="listbox"> -->
        <div class="carousel-inner">
        <!-- populated via an ajax call -->
          <div class="item-active">
            <a href="" class="book-cover">
              <img src="<%= image_url('book-covers/mgutmann.jpg') %>" width="160">
            </a>
          </div>
          <div class="item">
            <a href="" class="book-cover">
              <img src="<%= image_url('book-covers/stobin.jpg') %>" width="160">
            </a>
          </div>
          <div class="item">
            <a href="" class="book-cover">
              <img src="<%= image_url('book-covers/gwood.jpg') %>" width="160">
            </a>
          </div>
          <div class="item">
            <a href="" class="book-cover">
              <img src="<%= image_url('book-covers/miwhite.jpg') %>" width="160">
            </a>
          </div>
        </div>

        <a class="left carousel-control" href="#faculty-carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#faculty-carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
      </section>
    </div>
  </div>
</div>

<div class="row recent-books">
<div class="row icons-home">
  <div class="col-md-4">
    <a href="<%= search_path() %>" id="icon1">
      <span class="glyphicon glyphicon-user"></span>
      <h3>Search for a researcher</h3>
    </a>
  </div>
  <div class="col-md-4">
    <a href="<%= search_path() %>" id="icon2">
      <span class="glyphicon glyphicon-pencil"></span>
      <h3>Find an organization</h3>
    </a>
  </div>
  <div class="col-md-4">
   <a href="<%= search_path() %>" id="icon3">
    <span class="glyphicon glyphicon-education"></span>
    <h3>Browse all&hellip;</h3>
   </a>
  </div>
</div>

<script>
$(function() {
  // Force focus to the search textbox
  $("#q").focus();
});
</script>
