<div class="row hero" style="background-image: url( <%= image_url(randomized_background_image()) %>); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;">
  <div class="theme-showcase">
    <div class="col-md-12">
      <div class="container" role="main">

        <div class="jumbotron">
          <!-- Researchers @ BROWN -->
          <img src="<%= image_url('RaB-type.svg') %>"
            style="width: 64%;y: 2em;padding-bottom: 0;margin-bottom: 0;"
            alt="Researchers at Brown">
        </div>
        <form id="search-homepage" action="<%= search_path() %>" name="search-home" role="search" method="GET">
          <div class="input-group input-group-lg">
            <input class="hidden" name="home" type="text" value="">
            <input class="form-control" id="q" name="q" placeholder="Search for an Expert..." type="text">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-default btn-lg sympl-search">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-12">
      <div class="container">

            <div id="homepage-link-row">
              <a href="" target="_blank">Advanced search&hellip;</a>
            </div>

        <div class="jumbotron">
          <p>&nbsp;</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="row faculty-home">
  <div class="container">
    <div class="col-md-12">
      <h2 class="h1">Recent faculty books</h2>
      <h5><em>Click book jacket to view faculty profile</em></h4>
      <div class="gap20"></div>
      <!-- Use bootstrap carousel to showcase faculty members' books, edited in lib-home-page.ftl and homePageUtils.js -->

      <div id="books-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
        </ol>

        <div id="books-carousel-inner" class="carousel-inner">
        </div>

        <a class="left carousel-control" href="#books-carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#books-carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
      </div> <!-- books-carousel -->
    </div> <!-- col-md-12 -->
  </div> <!-- container -->
</div> <!-- row faculty-home -->

<div class="row recent-books">
<div class="row icons-home">
  <div class="col-md-4">
    <a href="<%= search_path() %>" id="icon1">
      <span class="glyphicon glyphicon-user"></span>
      <h3>Search for a researcher</h3>
    </a>
  </div>
  <div class="col-md-4">
    <a href="<%= search_path() %>" id="icon2">
      <span class="glyphicon glyphicon-pencil"></span>
      <h3>Find an organization</h3>
    </a>
  </div>
  <div class="col-md-4">
   <!-- repurpose this section for news links or alerts or announcements
    <a href="<%= search_path() %>" id="icon3">
    <span class="glyphicon glyphicon-education"></span>
    <h3>Browse all&hellip;</h3>
   </a> -->
   <h3 style="text-align: left;padding-left: 1.5em;color: #aba698;padding-bottom: .375em;">Researchers@Brown News</h3>
    <ul style="text-align: left;padding-left: 2.1875em;">
      <li class="news-link"><a href="">News or announcement item phrase; news or announcement item phrase; news or announcement item phrase&hellip;</a></li>
      <li class="news-link"><a href="">News or announcement item phrase&hellip;</a></li>
      <li class="news-link"><a href="">News or announcement item phrase&hellip;</a></li>
    </ul>
  </div>
</div>

<script>
  var bookCoverImages = [];
  <% @bookCovers.each do |cover| %>
    <%= raw 'bookCoverImages.push("' + cover.image + '");' %>
  <% end %>

  $(function() {
    $("#q").focus(); // Force focus to the search textbox
    loadBookCarousel(bookCoverImages);
  });

  function loadBookCarousel(images) {
    var template, itemHtml, html, i, link, image, active;

    template = '' +
      '<div class="item {active}">' +
      '  <a href="{link}" class="book-cover">' +
      '    <img src="{image}" width="160">' +
      '  </a>' +
      '</div>';

    // Insert the images into the carousel
    html = "";
    for(i = 0; i < images.length; i++) {
      link = "http://vivo.brown.edu";
      image = images[i];
      active = (i == 0) ? "active" : "";
      itemHtml = template.replace("{link}", link);
      itemHtml = itemHtml.replace("{image}", image);
      itemHtml = itemHtml.replace("{active}", active);
      html += itemHtml;
    }
    $("#books-carousel-inner").html(html);

    // Insert the indicators for the carousel
    template = '<li data-target="#books-carousel" data-slide-to="{i}" class="{active}"></li>';
    html = "";
    for(i = 0; i < images.length; i++) {
      active = (i == 0) ? "active" : "";
      itemHtml = template.replace("{i}", i);
      itemHtml = itemHtml.replace("{active}", active);
      html += itemHtml;
    }
    $(".carousel-indicators").html(html);
  }
</script>
