<div class="row hero" style="background-image: url( <%= image_url(randomized_background_image()) %>); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;">
  <div class="theme-showcase">
    <div class="col-md-12">
      <div class="container" role="main">

        <div class="jumbotron">
          <!-- Researchers @ BROWN -->
          <img src="<%= image_url('RaB-type.svg') %>"
            style="width: 64%;y: 2em;padding-bottom: 0;margin-bottom: 0;"
            alt="Researchers at Brown">
        </div>
        <form id="search-homepage" action="<%= search_path() %>" name="search-home" role="search" method="GET">
          <div class="input-group input-group-lg">
            <input class="form-control" id="q" name="q" placeholder="Search for an Expert..." type="text">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-default btn-lg sympl-search">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-12">
      <div class="container">
        <div id="homepage-link-row">
          <a href="<%= search_advanced_path()%>">Advanced search&hellip;</a>
        </div>
        <div class="jumbotron">
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @bookCoversPaginated.count > 0 %>
  <!-- Book carousel -->
  <div class="row faculty-home">
    <div class="container">
      <div class="col-md-12">

        <h2 class="h1">Recent faculty books</h2>
        <h5><em>Click book jacket to view faculty profile</em></h4>
        <div class="gap20"></div>

        <div class="carousel slide multi-item-carousel" id="books-carousel">
          <!-- Crystal/Ben -- how can we get the indicators not to overlay
          with the book covers? -->
          <ol class="carousel-indicators">
            <% @bookCoversPaginated.each_with_index do |page, i| %>
              <li data-target="#books-carousel" data-slide-to="<%= i %>" class="<%= i == 0 ? "active" : "" %>">
            <% end %>
          </ol>
          <div class="carousel-inner">
            <% @bookCoversPaginated.each_with_index do |page, i| %>
              <div class="item <%= i == 0 ? "active" : "" %>">
                <ul>
                  <% page.each do |cover| %>
                    <a href="<%= cover.author_url %>" class="book-cover">
                      <img src="<%= cover.image %>" alt="<%= cover.title %>" title="<%= cover.title %>" width="160">
                    </a>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </div>
          <a class="left carousel-control" href="#books-carousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#books-carousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
        </div> <!-- books-carousel -->
      </div> <!-- col-md-12 -->
    </div> <!-- container -->
  </div> <!-- row faculty-home -->
<% end %>

<!-- Bottom three big blocks -->
<div class="row">
  <div class="col-md-4 icons-home">
    <a href="<%= search_path() %>" id="icon1">
      <span class="glyphicon glyphicon-user"></span>
      <h3>Search for a researcher</h3>
    </a>
  </div>
  <div class="col-md-4 icons-home">
    <a href="https://library.brown.edu/orcid/" id="icon2">
      <span class="glyphicon glyphicon-pencil"></span>
      <img src="https://vivo.brown.edu/themes/rab/images/orcid-logo.png"/>
      <h3>Get a Brown ORCID Identifier!</h3>
    </a>
  </div>
  <div class="col-md-4">
   <h3 style="text-align: left;padding-left: 1.5em;color: #aba698;padding-bottom: .375em;">Did you know?</h3>
    <ul style="text-align: left;padding-left: 2.1875em;">
      <li class="news-link">You can assign one of more deputies to update your profile. <a href="<%= home_faq_url() %>#assign_deputy">Learn how.</a></li>
      <li class="news-link">Your profile is highly discoverable. This site has over half a million visitors and 2 million pageviews a year.</li>
      <li class="news-link"><a href="https://bitly.com/vivoseo" target="_blank">In a recent study</a>, Brown ranked #1 out of 90 sites for the highest proportion of profiles in the top 3 Google search results.</li>
      <li class="news-link">Researchers@Brown contains citations and links to full text for over 34,000 publications. Another 24,000 are awaiting approval. Check the "Manage Publications" section in your profile.</li>
    </ul>
  </div>
</div>

<script>
  $(function() {
    $("#q").focus(); // Force focus to the search textbox
  });
</script>
