<div class="row hero" style="background-image: url( <%= image_url(randomized_background_image()) %>); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;">
  <div class="theme-showcase">
    <div class="col-md-12">
      <div class="container" role="main">

        <div class="jumbotron">
          <!-- Researchers @ BROWN -->
          <img src="<%= image_url('RaB-type2.svg') %>"
            style="width: 64%;y: 2em;padding-bottom: 0;margin-bottom: 0;"
            alt="Researchers at Brown">
        </div>
        <form id="search-homepage" action="<%= search_path() %>" name="search-home" role="search" method="GET">
          <div class="input-group input-group-lg">
            <input class="form-control" id="q" name="q" placeholder="Search for an expert..." title="Enter text to search for" type="text">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-default btn-lg sympl-search">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                <span aria-only="true">Search</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-12">
      <div class="container">
        <div id="homepage-link-row">
          <a href="<%= search_advanced_path() %>">Advanced search&hellip;</a>
        </div>
        <div class="jumbotron">
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @bookCoversPaginated.count > 0 %>
  <!-- Book carousel -->
  <div class="row faculty-home">
    <div class="container">
      <div class="col-md-12">

        <h2 class="h1">Recent faculty books</h2>
        <h5><em>Click book jacket to view faculty profile</em></h4>
        <div class="gap20"></div>

        <div class="carousel slide multi-item-carousel" id="books-carousel">
          <div class="carousel-inner">
            <!-- Notice that we set `data-src` for the images (not `src`).
                 `src` is set via the JavaScript code at the bottom of the page -->
            <% @bookCoversPaginated.each_with_index do |page, i| %>
              <div class="item <%= i == 0 ? "active" : "" %>">
                <ul>
                  <% page.each do |cover| %>
                    <a href="<%= cover.author_url %>" class="book-cover">
                      <img data-src="<%= cover.image %>" alt="<%= cover.title %>" title="<%= cover.title %>" width="160">
                    </a>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </div>
          <a class="left carousel-control" href="#books-carousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#books-carousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
        </div> <!-- books-carousel -->
      </div> <!-- col-md-12 -->
    </div> <!-- container -->
  </div> <!-- row faculty-home -->
<% end %>

<!-- Bottom three big blocks -->
<div class="three-big-blocks">
  <div class="icons-home">
    <a href="<%= search_path() %>" id="icon1">
      <span class="glyphicon glyphicon-user large-glyphicon"></span>
      <h3>Search for a Researcher</h3>
    </a>
  </div>
  <div class="icons-home">
   <h3>Did You Know?</h3>
    <ul>
    <li class="news-link"><%= image_tag("viz_mini.png", style: "float: left; margin-right: 10px;") %> Visualize it! See your Brown co-author and collaborator networks come to life.  Use visualizations to showcase your research in grant proposals, presentations, social media posts,
    and more.  <a href="https://vivo.brown.edu/help/viz">More info</a>.
    <li class="news-link">You can assign one or more deputies to update your profile. <a href="<%= home_faq_url() %>#assign_deputy">Learn how</a>.
    <li class="news-link">Your profile is highly discoverable. This site has over half a million visitors and 2 million pageviews a year.
    <li class="news-link"><a href="https://bitly.com/vivoseo" target="_blank">In a recent study</a>, Brown ranked #1 out of 90 sites for the highest proportion of profiles in the top 3 Google search results.
    </ul>
  </div>
  <div class="icons-home">
    <a href="https://library.brown.edu/orcid/" id="icon2">
      <span>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;" xml:space="preserve">
          <style type="text/css">
            .st0{fill:#A6CE39;}
            .st1{fill:#FFFFFF;}
          </style>
          <path class="st0" d="M256,128c0,70.7-57.3,128-128,128C57.3,256,0,198.7,0,128C0,57.3,57.3,0,128,0C198.7,0,256,57.3,256,128z"/>
          <g>
            <path class="st1" d="M86.3,186.2H70.9V79.1h15.4v48.4V186.2z"/>
            <path class="st1" d="M108.9,79.1h41.6c39.6,0,57,28.3,57,53.6c0,27.5-21.5,53.6-56.8,53.6h-41.8V79.1z M124.3,172.4h24.5
              c34.9,0,42.9-26.5,42.9-39.7c0-21.5-13.7-39.7-43.7-39.7h-23.7V172.4z"/>
            <path class="st1" d="M88.7,56.8c0,5.5-4.5,10.1-10.1,10.1c-5.6,0-10.1-4.6-10.1-10.1c0-5.6,4.5-10.1,10.1-10.1
              C84.2,46.7,88.7,51.3,88.7,56.8z"/>
          </g>
        </svg>
      </span>
      <h3>Get a Brown ORCID Identifier!</h3>
    </a>
  </div>
</div>

<script>
  $(function() {
    $("#q").focus(); // Force focus to the search textbox

    // Setup the carousel to load images on demand
    // (adapted from https://stackoverflow.com/a/45649722/446681)
    var carousel = $('#books-carousel');
    carousel.carousel({interval: 5000});  // auto-scroll
    carousel.on('slide.bs.carousel', function (e) {
      var imgTags = $(e.relatedTarget).find('img');
      setCarouselImages(imgTags, imgTags.length);
    });
    // Preload the first four images
    var imgTags = carousel.find('img');
    setCarouselImages(imgTags, Math.min(imgTags.length, 4))
  });

  function setCarouselImages(imgTags, count) {
    var i, img;
    for(i = 0; i < count; i++) {
      img = $(imgTags[i]);
      if (typeof img.attr('src') === 'undefined') {
        // set src to the value in data-src
        img.attr('src', img.data('src'));
      }
    }
  }
</script>

<div>Hello</div>
