<div class="row hero" style="background-image: url( <%= image_url(randomized_background_image()) %>); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;">
  <div class="theme-showcase">
    <div class="col-md-12">
      <div class="container" role="main">

        <div class="jumbotron">
          <!-- Researchers @ BROWN -->
          <img src="<%= image_url('RaB-type.svg') %>"
            style="width: 64%;y: 2em;padding-bottom: 0;margin-bottom: 0;"
            alt="Researchers at Brown">
        </div>

        <form id="search-homepage" action="<%= search_path() %>" name="search-home" role="search" method="GET">
          <div class="input-group input-group-lg">
            <input class="hidden" name="home" type="text" value="">
            <input class="form-control" id="q" name="q" placeholder="Search for an Expert..." type="text">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-default btn-lg sympl-search">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="col-md-12">
      <div class="container">
        <div class="jumbotron">
          <p>This site is a proof of concept to demonstrate a new way of
            looking and finding Brown researchers and faculty members.
            You can learn more about this site in the
            <a href="<%= about_path() %>">about page.</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- hide collaborator, supervisor, expert opinion boxes
<div class="row icons-home">
  <div class="col-md-4">
    <a href="<%= search_path() %>" id="icon1">
      <span class="glyphicon glyphicon-user"></span>
      <h3>Search for a collaborator</h3>
    </a>
  </div>
  <div class="col-md-4">
    <a href="<%= search_path() %>" id="icon2">
      <span class="glyphicon glyphicon-pencil"></span>
      <h3>Find a supervisor</h3>
    </a>
  </div>
  <div class="col-md-4">
   <a href="<%= search_path() %>" id="icon3">
    <span class="glyphicon glyphicon-education"></span>
    <h3>Locate expert opinion</h3>
   </a>
  </div>
</div>
-->

<!-- hide exlpore-our-experts section
<div class="row explore">
  <div class="container">

    <div class="col-md-12">
      <h2 class="h1">Explore our experts</h2>
      <p> Explore OpenVIVO experts by Subject Area</p>
    </div>

    <div class="col-md-4">
      <a href="" class="explore-panel" id="ph1">
        <span>Linked Data</span>
      </a>
    </div>
    <div class="col-md-8">
      <a href="" class="explore-panel" id="ph2">
        <span>Data Curation</span>
      </a>
    </div>

    <div class="col-md-6">
      <a href="#" class="explore-panel" id="ph3">
        <span>Semantic Web</span>
      </a>
    </div>
    <div class="col-md-6">
      <a href="#" class="explore-panel" id="ph4">
        <span>Ontologies</span>
      </a>
    </div>
    <div class="col-md-12">
      <a class="btn btn-default pull-right" href="#">
        View all...
      </a>
    </div>

  </div>
</div>
-->

<div class="row recent-books">
  <div class="container">
    <div class="col-md-12">
      <h2 class="h1">Recent faculty books</h2>
      <div class="gap20"></div>
      <!-- <p>The OpenVIVO community is dedicated to changing the nature of
scholarship, Meet some of our experts ready to share thier knowledge.</p> -->
      <!-- Use bootstrap carousel to showcase faculty members, edited in lib-home-page.ftl and homePageUtils.js -->

      <section id="faculty-carousel" class="carousel slide" data-ride="carousel" data-interval="4000">
        <div style="display: none;" id="tempSpacing">
          <span>Loading faculty . . .&nbsp;&nbsp;&nbsp;
            <%= image_tag("indicatorWhite.gif") %>
          </span>
        </div>

        <div id="research-faculty-mbrs" class="carousel-inner" role="listbox">
        <!-- populated via an ajax call -->
          <div class="item">
            <a href="" class="faculty-mbrs" title="View Profile">
              <img class="img-circle" alt="placeholder image" src="<%= image_url('person.jpg') %>" width="160">
              <h3>Layne, Peggy</h3>
              <h4 class="faculty-title"></h4>
            </a>
          </div>
          <div class="item">
            <a href="" class="faculty-mbrs" title="View Profile">
              <img class="img-circle" alt="placeholder image" src="<%= image_url('person.jpg') %>" width="160">
              <h3>Henderson, Margaret</h3>
              <h4 class="faculty-title"></h4>
            </a>
          </div>
          <div class="item">
            <a href="" class="faculty-mbrs" title="View Profile">
              <img class="img-circle" alt="placeholder image" src="<%= image_url('person.jpg') %>" width="160">
              <h3>Mullin, Casey</h3>
              <h4 class="faculty-title"></h4>
            </a>
          </div>
        </div>

        <a class="left carousel-control" href="#faculty-carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#faculty-carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
      </section>
    </div>
  </div>
</div>

<script>
$(function() {
  // Force focus to the search textbox
  $("#q").focus();
});
</script>
