<%= render "results_nav" %>

<div class="container-fluid">
  <%= render "results_adv_search" %>

    <div class="row">
        <div class="col-md-10 col-md-push-2">
            <!-- 1/N results found -->
            <div id="search-result-count" class="text-muted">
                <span id="search-page-start">1</span>
                -
                <span id="search-page-end"><%= @num_found %></span>
                of
                <span id="search-total-matching"><%= @num_found %></span>
                search results for
                <strong><%= @query %></strong>
            </div>

            <h2 class="visible-print">Results</h2>

            <!-- search results -->
            <div class="row">
                <!--added for single row approach -->
                <h3 class="hidden">Fully-matching results</h3>

                <div class="clearfix visible-md-block"></div>
                <!-- <div class="row top-buffer"> -->
                <div class="clearfix visible-lg-block"></div>

                <% @faculty_list.each do |r| %>
                  <div class="clearfix visible-sm-block"></div>
                  <div class="clearfix visible-xs-block"></div>
                  <% if r.class.to_s == "FacultyListItem" %>
                    <%= render "results_researcher", researcher: r %>
                  <% else %>
                    <%= render "results_org", researcher: r %>
                  <% end %>
                <% end %>
            </div>

            <!-- pagination -->
            <div class="text-center hidden-print">
                <h2 class="sr-only">Pagination</h2>
                <ul class="pagination pagination-lg">
                    <li class="active">
                        <a href="https://bootstrap-vivo-beta.symplectic.co.uk/s/search.html?query=fellow&amp;collection=vivo-lilliput&amp;form=lilliputsimple&amp;start_rank=1">1</a>
                    </li>
                </ul>
            </div>
        </div>
        <%= render "results_facets" %>
    </div>
</div>
