<%= render "search_box" %>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-10 col-md-push-2">
            <!-- 1/N results found -->
            <div id="search-result-count" class="text-muted">
                <span id="search-page-start"><%= @start + 1 %></span>
                -
                <span id="search-page-end"><%= @end %></span>
                of
                <span id="search-total-matching"><%= @num_found %></span>
                search results
                <% if !@query.empty? %>
                  for <b><%= @query %></b>
                <% end %>
                <% @pretty_fq.each do |fq| %>
                  (<%= fq %>)
                <% end %>
            </div>

            <h2 class="visible-print">Results</h2>

            <!-- search results -->
            <div class="row">
                <!--added for single row approach -->
                <h3 class="hidden">Fully-matching results</h3>

                <div class="clearfix visible-md-block"></div>
                <!-- <div class="row top-buffer"> -->
                <div class="clearfix visible-lg-block"></div>

                <% @faculty_list.each do |r| %>
                  <div class="clearfix visible-sm-block"></div>
                  <div class="clearfix visible-xs-block"></div>
                  <% if r.class.to_s == "FacultyListItem" %>
                    <%= render "results_researcher", researcher: r %>
                  <% else %>
                    <%= render "results_org", researcher: r %>
                  <% end %>
                <% end %>
            </div>

            <%= render "results_pagination" %>

        </div>
        <%= render "results_facets" %>
    </div>
</div>
