<div class="col-md-8 col-sm-12 col-xs-12" id="section_overview">
  <div class="organization-overview"><p><%= @presenter.organization.overview.html_safe %></p></div>

  <% if @presenter.show_visualizations && @presenter.all_positions.count > 0 %>
    <div class="viz_collab-wrapper">
      <img class="viz_collab-image" src="https://vivo.brown.edu/profile-images/324/367/19/njoyce_photo_.png" aria-hidden="true" />
      <a id="viz_collab" class="btn btn-default"
        href="<%= visualization_collab_path(@presenter.organization.vivo_id) %>" target="_blank"
        title="Visualize collaborators network">Visualize it&nbsp;</a>
    </div>
  <% end %>

  <div id="tabOverview" class="tabFinder" >
    <h3>Affiliations</h3>

    <% if @presenter.admin_positions.count > 0 %>
      <h4 class="brown-affiliations panel-heading">Faculty Administrative Positions</h4>
      <div class="brown-affiliations-list">
        <% @presenter.admin_positions.each do |p| %>
          <p><a href="<%= display_show_url(p.vivo_id) %>"><%= p.label %></a><span><%= p.specific_position %></span></p>
        <% end %>
      </div>
    <% end %>

    <% if @presenter.faculty_positions.count > 0 %>
      <h4 class="brown-affiliations panel-heading">Faculty Positions</h4>
      <div class="brown-affiliations-list">
        <% @presenter.faculty_positions.each do |p| %>
          <p><a href="<%= display_show_url(p.vivo_id) %>"><%= p.label %></a><span><%= p.specific_position %></span></p>
        <% end %>
      </div>
    <% end %>
  </div> <!-- tabOverview -->
</div> <!-- section_overview -->
