<div class="col-md-9 col-sm-8 col-xs-12">
  <section id="individual-info" role="region">
    <header>
      <h2 class="vcard foaf-person hidden-xs"><% "xxx" %></h2>
      <h3><%= @organization.name %></h3>
      <ul>
      <% @organization.web_pages.each do |page| %>
        <li><a href="<%= page.url %>"><%= page.text %></a>
      <% end %>
      </ul>
      <p><%= @organization.overview.html_safe %></p>
    </header>
  </section>

  <div class="row">

    <!-- tabs -->
    <div class="col-md-12">
      <ul class="nav nav-tabs user-nav" role="tablist" id="individualNavTabs">
        <li id="affiliationsTab" role="presentation" class="active">
          <a href="#affiliations" aria-controls="Affiliations" role="tab" data-toggle="tab">
              Affiliations
          </a>
        </li>
      </ul>
    </div>

    <!-- tabs content -->
    <div class="col-md-12 person-container">
      <div class="tab-content" id="individualNavTabsContent">
        <h1>...</h1>
        <% @organization.people.each do |p| %>
          <p>
            <% if p.vivo_id != "" %>
              <a href="<%= display_show_url(p.vivo_id) %>"><%= p.label %></a>,
              <%= p.specific_position %>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
