<div class="col-md-8 col-sm-12 col-xs-12" id="section_overview">
  <p><%= @presenter.organization.overview.html_safe %></p>

  <div id="tabOverview" class="tabFinder" >
    <h3 style="padding-bottom: 21px;">Affiliations
    <% if @presenter.show_visualizations && @presenter.all_positions.count > 0 %>
      <a id="viz_collab" class="btn btn-default" style="float:right;"
        href="<%= visualization_collab_path(@presenter.organization.vivo_id) %>" target="_blank"
        title="Visualize collaborators network">Visualize it&nbsp;
        <i style="color:rgb(232, 217, 139);" class="glyphicon glyphicon-signal"></i>
      </a>
    <% end %>
    </h3>

    <% if @presenter.admin_positions.count > 0 %>
      <h4 class="brown-affiliations panel-heading">Faculty Administrative Positions</h4>
      <div class="brown-affiliations-list">
        <% @presenter.admin_positions.each do |p| %>
          <p><a href="<%= display_show_url(p.vivo_id) %>"><%= p.label %></a>, <%= p.specific_position %></p>
        <% end %>
      </div>
    <% end %>

    <% if @presenter.faculty_positions.count > 0 %>
      <h4 class="brown-affiliations panel-heading">Faculty Positions</h4>
      <div class="brown-affiliations-list">
        <% @presenter.faculty_positions.each do |p| %>
          <p><a href="<%= display_show_url(p.vivo_id) %>"><%= p.label %></a>, <%= p.specific_position %></p>
        <% end %>
      </div>
    <% end %>
  </div> <!-- tabOverview -->
</div> <!-- section_overview -->
