<style>
  table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
  }
  .monospace {
    font-family: "Courier New";
  }
</style>

<form id="sparql-query" name="sparql-query" method="get">
  <div>
    <b>SPARQL: </b>
    <% @presenter.queries.each_with_index do |q, i| %>
      <button id="query_<%= i %>"
        type="button"
        data-text="sparql_<%= i %>"
        class="btn btn-info btn-xs query_button"><%= q[:name] %></button>
      <span class="hidden query_sparql" id="sparql_<%= i %>"><%= q[:sparql] %></span>
    <% end %>
  </div>
  <div>
    <button id="showPrefixes" type="button" class="btn btn-info btn-xs">Show Prefixes</button>
    <div id = "prefixes" class="small hidden monospace">
    <% @presenter.prefixes.each do |p| %>
      prefix <%= p[:prefix] %>: &lt;<%= p[:uri] %>&gt;<br/>
    <% end %>
    </div>
  </div>
  <div>
    <textarea id="sparql" name="sparql"
      rows="8" cols="90"
      placerholder="Enter SPARQL query here"
      class="monospace"><%= @presenter.sparql %></textarea>
  </div>
  <div class="monospace">
    limit <input id="limit" name="limit" value="<%= @presenter.limit %>">
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Run Query</button>
    <button type="submit"
      id="TextExport" name="TextExport" value="1"
      formtarget="_blank"
      class="btn">Run (Export)</button>
  </div>
</form

<div>
  <p>&nbsp;</p>
  <% if @presenter.results.count > 0 %>
    <%= render "table" %>
  <% end %>

  <% if @presenter.message != "" %>
    <b><%= @presenter.message %></b>
  <% end %>
</div>


<script>
$(document).ready(function() {
   $("#showPrefixes").click(function() {
     $("#prefixes").removeClass("hidden");
     $("#showPrefixes").addClass("hidden");
   });

   $(".query_button").click(function(x) {
     var sparql_span = "#" + $(this).attr("data-text");
     var query = $(sparql_span).text();
     $("#sparql").val(query)
   });
});

</script>
