<div class="col-md-9 col-sm-8 col-xs-12">
  <section id="individual-info" role="region">
    <header>
      <h2 class="vcard foaf-person hidden-xs"><%= @presenter.faculty.name + (@presenter.faculty.hidden ? " [Inactive]" : "")%></h2>
      <h3><%= @presenter.faculty.title %></h3>
      <h4><%= @presenter.faculty.org_label %></h4>
      <p><%= @presenter.faculty.overview.html_safe %></p>
      <% if @presenter.faculty.affiliations.count > 0 %>
        <h4>Brown Affiliations</h4>
        <% @presenter.faculty.affiliations.each do |a| %>
          <% qs = "?fq=affiliations|#{CGI.escape(a.name)}" %>
          <a href="<%= search_url() + qs %>">
            <%= a.name %>
          </a>
          &nbsp;|&nbsp;
        <% end %>
      <% end %>
      <% if @presenter.faculty.research_areas.count > 0 %>
        <h4>Research Areas</h4>
        <% @presenter.faculty.research_areas.each do |area| %>
          <% qs = "?fq=research_areas|#{CGI.escape(area)}" %>
          <a href="<%= search_url() + qs %>">
            <%= area %>
          </a>
          &nbsp;|&nbsp;
        <% end %>
      <% end %>
    </header>
  </section>

  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs" role="tablist">
        <!-- mark one as active -->
        <% if @presenter.has_publications %>
          <li role="presentation" id="publicationsTab" class="tabFinder"><a data-toggle="tab" href="#publications">Publications</a></li>
        <% end %>

        <% if @presenter.has_research %>
          <li role="presentation" id="researchTab" class="tabFinder"><a data-toggle="tab" href="#research">Research</a></li>
        <% end %>

        <% if @presenter.has_background %>
          <li role="presentation" id="backgroundTab" class="tabFinder"><a data-toggle="tab" href="#background">Background</a></li>
        <% end %>

        <% if @presenter.has_affiliations %>
          <li role="presentation" id="affiliationTab" class="tabFinder"><a data-toggle="tab" href="#affiliation">Affiliation</a></li>
        <% end %>

        <% if @presenter.has_teaching %>
          <li role="presentation" id="teachingTab" class="tabFinder"><a data-toggle="tab" href="#teaching">Teaching</a></li>
        <% end %>

        <% if @presenter.has_details %>
          <li role="presentation" id="viewallTab" class="tabFinder"><a data-toggle="tab" href="#viewall">View All</a></li>
        <% end %>
      </ul>
    </div> <!-- col-md-12 -->

    <div class="tab-content">
      <!-- TODO: use fade in active in the first one -->
      <%= render "show_tab_publications", locals: {add_tab: true } %>
      <%= render "show_tab_research", locals: {add_tab: true } %>
      <%= render "show_tab_background", locals: {add_tab: true } %>
      <%= render "show_tab_affiliations", locals: {add_tab: true }  %>
      <%= render "show_tab_teaching", locals: {add_tab: true }  %>
      <% if @presenter.has_details %>
        <div id="viewall" class="tab-pane tabContentFinder">
          <%= render "show_tab_publications", locals: {add_tab: false } %>
          <%= render "show_tab_research", locals: {add_tab: false } %>
          <%= render "show_tab_background", locals: {add_tab: false } %>
          <%= render "show_tab_affiliations", locals: {add_tab: false } %>
          <%= render "show_tab_teaching", locals: {add_tab: false } %>
        </div>
      <% end %>
    </div> <!-- tabs content -->
  </div> <!-- row -->
</div> <!-- col-md-9 -->

<script>
$(document).ready(function() {
  var tabId, contentId;
  if(window.location.hash) {
    // use the tab indicated in the URL
    // TODO: handle if the tab is invalid
    tabId = window.location.hash + "Tab";
    contentId = window.location.hash;
  } else {
    // default to the first tab rendered
    tabId = ".tabFinder";
    contentId = ".tabContentFinder";
  }
  $(tabId).first().addClass("active");
  $(contentId).first().addClass("tab-pane fade active in");
});
</script>
