<style>
  .overview_textarea {
    background-color:#F3F5B3;
    width: 100%;
  }
  .delete_research_area:hover {
    color: white;
    background-color: red;
    text-decoration: none;
    border:0!important; /* needed for the underline to be hidden */
  }
  .delete_item_link:hover {
    color: white;
    background-color: red;
    text-decoration: none;
    border:0!important; /* needed for the underline to be hidden */
  }

  .modal_save_cancel_button:focus {
    background-color:#5bc0de;
    color: #fff;
    border-color: #46b8da;
    border: 1px solid transparent;
    text-shadow: none;
  }
</style>

<!-- On the web modal form -->
<div id="ontheweb_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Website information</h4>
      </div>
      <div class="modal-body">
        <div>
          <span>Text: </span>
          <input id="ontheweb_modal_text" type="text" placeholder="Name of your site" style="width:90%;"></input>
        </div>
        <div>
          <span>URL: </span>
          <input id="ontheweb_modal_url" type="text" placeholder="http://yoursite" style="width:90%;"></input>
          <input id="ontheweb_modal_id" type="text" class="hidden"></input>
        </div>
      </div> <!-- modal body -->
      <div class="modal-footer">
        <button id="ontheweb_modal_save" data-dismiss="modal"
          class="btn btn-default pull-left modal_save_cancel_button"
          title="Save your changes">Save</button>
        <button id="ontheweb_modal_cancel" data-dismiss="modal"
          class="btn btn-default pull-left modal_save_cancel_button"
          title="Cancel (don't save) your changes))">Cancel</button>
      </div>
    </div> <!-- modal content -->
  </div> <!-- modal-dialog -->
</div> <!-- modal_form -->

<div class="col-md-9 col-sm-8 col-xs-12" id="section_overview">
  <h2 class="vcard foaf-person individual_overview hidden-xs"><%= @presenter.faculty.display_name + (@presenter.faculty.hidden ? " [Inactive]" : "")%></h2>
  <h3 class="individual_overview"><%= @presenter.faculty.title %></h3>

  <div class="tabFinder" id="tabOverview">
    <h3>Overview</h3>
    <% if @presenter.edit_mode %>
      <button id="overviewEditButton" class="btn btn-info" title="Edit your overview">Edit</button>
      <div id="overviewText"><%= @presenter.faculty.overview.html_safe %></div>
      <div id="overviewEditBox" class="hidden">
        <textarea id="overviewTextArea" rows="15" class="overview_textarea"></textarea>
        <br/><br/>
        <button id="overviewSave" class="btn btn-success">Save</button>
        <button id="overviewCancel" class="btn btn-danger">Cancel</button>
      </div>
    <% else %>
      <p><%= @presenter.faculty.overview.html_safe %></p>
    <% end %>

    <% if @presenter.faculty.affiliations.count > 0 %>
      <h4 class="brown-affiliations panel-heading">Brown Affiliations</h4>
      <div class="brown-affiliations-list">
        <% @presenter.faculty.affiliations.each_with_index do |aff, i| %>
          <p>
          <%= image_tag( aff.thumbnail, alt: aff.name + " logo", width: "36") %>
          <a href="<%= display_show_url(aff.vivo_id) %>">
            <%= aff.name %>
          </a>
          </p>
        <% end %>
      </div>
    <% end %>

    <% if @presenter.faculty.research_areas.count > 0 %>
      <h4 class="research-areas panel-heading">Research Areas</h4>
      <div id="research-areas-list" class="brown-research-areas-list">
        <% @presenter.faculty.research_areas.each_with_index do |area, i| %>
          <% if i != 0 %>
            &nbsp;|&nbsp;
          <% end %>
          <% qs = "?fq=research_areas|#{CGI.escape(area.label)}" %>
          <a href="<%= search_url() + qs %>" id="<%= area.id %>">
            <%= area.label %>
          </a>
          <% if @presenter.edit_mode %>
            <a href="#" id="<%= area.id %>_delete" class="delete_research_area" title="Remove this research area">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </a>
          <% end %>
        <% end %>
      </div>
      <% if @presenter.edit_mode %>
        <div id="researchareaEditBox">
            <input type="text" id="researchareaText" placeholder="Enter research area"></input>
            <!-- <input type="text" id="researchareaId" class="hidden"></input> -->
            <button id="researchareaAddButton" class="btn btn-info" title="Add to your profile">Add</button>
        </div>
      <% end %>
    <% end %>

    <!-- on the web -->
    <% if @presenter.edit_mode %>
      <h4 class="research-areas panel-heading">On the Web</h4>
      <ul id="on-the-web-list" class="brown-research-areas-list">
        <!-- HTML elements added via JavaScript -->
      </ul>
      <div id="onthewebEditBox">
        <button id="onthewebAddButton" class="btn btn-info"
          title="Add a new website"
          data-toggle="modal" data-target="#ontheweb_modal">Add</button>
      </div>
    <% else %>
      <% if @presenter.faculty.on_the_web.count > 0 %>
        <h4 class="research-areas panel-heading">On the Web</h4>
        <div id="on-the-web-list" class="brown-research-areas-list">
          <% @presenter.faculty.on_the_web.each do |web| %>
            <li>
              <% if web.icon != nil %>
                <%= image_tag(web.icon, width: "17") %>
              <% else %>
                <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
              <% end %>
              <a href="<%= web.url %>" target="_blank"><%= web.text %></a>
            </li>
          <% end %>
        </div>
      <% end %> <!-- on_the_web.count -->
    <% end %>
    <br/><br/>
  </div> <!-- panel -->

  <%= render "faculty/show_tab_publications", locals: {add_tab: true } %>
  <%= render "faculty/show_tab_research", locals: {add_tab: true } %>
  <%= render "faculty/show_tab_background", locals: {add_tab: true } %>
  <%= render "faculty/show_tab_affiliations", locals: {add_tab: true }  %>
  <%= render "faculty/show_tab_teaching", locals: {add_tab: true }  %>
</div> <!-- col-md-9 -->
