<% if @presenter.has_affiliations %>
  <div id="tabAffiliations" class="panel panel-default hidden">
    <h3>Affiliations</h3>

      <% if @presenter.faculty.collaborators.count > 0 %>
          <div class="panel-heading">
            <h3 id="relatedBy-Authorship" title="" class="panel-title">Collaborators</h3>
          </div>

          <div class="panel-body">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th>Name</th>
                  <th>Title</th>
                </tr>
                <% @presenter.faculty.collaborators.each do |c| %>
                  <tr class="tableRow" role="listitem">
                    <td>
                      <span class="listDateTime">
                        <a href="<%= faculty_show_url(c.short_id) %>"><%= c.name %></a>
                      </span>
                    </td>
                    <td>
                      <span class="listDateTime"><%= c.title %></span>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
      <% end %>

      <%= render "faculty/show_text_tab", locals: {
        divId: "affiliations",
        title: "Affiliations",
        text: @presenter.faculty.affiliations_text} %>

      <% if @presenter.faculty.training.count > 0 %>
          <div class="panel-heading">
            <h3 id="relatedBy-Authorship" title="" class="panel-title">Postdoctoral/Other Training</h3>
          </div>
          <div class="panel-body">
            <table class="table table-hover">
              <tbody>
                <% @presenter.faculty.training.each do |t| %>
                  <tr class="tableRow" role="listitem">
                    <td><%= t.name %></td>
                    <!-- TODO: should we render the org_full_name components as individual hyperlinks? -->
                    <td><%= t.org_full_name %></td>
                    <td><%= t.year_range_str %></td>
                    <td><%= t.location %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
      <% end %>

      <% if @presenter.faculty.credentials.count > 0 %>
          <div class="panel-heading">
            <h3 id="relatedBy-Authorship" title="" class="panel-title">Credentials/Licenses</h3>
          </div>

          <div class="panel-body">
            <table class="table table-hover">
              <tbody>
                <% @presenter.faculty.credentials.each do |c| %>
                  <tr class="tableRow" role="listitem">
                    <td><%= c.name %></td>
                    <!-- TODO: should the grantor info be a hyperlink? -->
                    <td><%= c.grantor_display %></td>
                    <td><%= c.year_range_str %></td>
                    <td><%= c.number_display %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
      <% end %>

      <% if @presenter.faculty.appointments.count > 0 %>
          <div class="panel-heading">
            <h3 id="relatedBy-Authorship" title="" class="panel-title">Appointments</h3>
          </div>

          <div class="panel-body">
            <table class="table table-hover">
              <tbody>
                <% @presenter.faculty.appointments.each do |a| %>
                  <tr class="tableRow" role="listitem">
                    <td>
                      <span class="listDateTime"><%= a.name %></span>.
                      <span>
                        <% qs = '?q=appointment_at:"' + CGI.escape(a.org_name) + '"' %>
                        <a href="<%= search_url() + qs %>"
                          title="Find researchers that had appointments at this institution">
                          <%= a.org_name %></a>,
                      </span>
                      <span class="listDateTime"><%= a.department %></span>
                      <span class="listDateTime"><%= a.year_range_str %></span>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
      <% end %>
  </div> <!-- panel -->
<% end %>
