<% if @presenter.edit_mode %>

  <!-- on edit mode always display the sections -->
  <div id="tabResearch" class="panel panel-default hidden">
    <h3>Research</h3>
    <%= render "faculty/show_text_tab", locals: {
      edit: true,
      divId: "researchOverview",
      title: "Research Overview",
      text: @presenter.faculty.research_overview || ""} %>
    <%= render "faculty/show_text_tab", locals: {
      edit: true,
      divId: "researchStatement",
      title: "Research Statement",
      text: @presenter.faculty.research_statement || ""} %>
    <%= render "faculty/show_text_tab", locals: {
      edit: true,
      divId: "fundedResearch",
      title: "Funded Research",
      text: @presenter.faculty.funded_research || ""} %>
    <%= render "faculty/show_text_tab", locals: {
      edit: true,
      divId: "scholarlyWork",
      title: "Scholarly Work",
      text: @presenter.faculty.scholarly_work || ""} %>
  </div>

<% else %>

  <!-- on view mode only display the sections if there is data to display -->
  <% if @presenter.has_research %>
    <div id="tabResearch" class="panel panel-default hidden">
      <h3>Research</h3>
        <%= render "faculty/show_text_tab", locals: {
          divId: "researchOverview",
          title: "Research Overview",
          text: @presenter.faculty.research_overview} %>
        <%= render "faculty/show_text_tab", locals: {
          divId: "researchStatement",
          title: "Research Statement",
          text: @presenter.faculty.research_statement} %>
        <%= render "faculty/show_text_tab", locals: {
          divId: "fundedResearch",
          title: "Funded Research",
          text: @presenter.faculty.funded_research} %>
        <%= render "faculty/show_text_tab", locals: {
          divId: "scholarlyWork",
          title: "Scholarly Work",
          text: @presenter.faculty.scholarly_work} %>
    </div>
  <% end %>

<% end %>
