<div class="col-md-9 col-sm-8 col-xs-12">
  <section id="individual-info" role="region">
    <header>
      <h2 class="vcard foaf-person hidden-xs"><%= @faculty.name %></h2>
      <h3><%= @faculty.title %></h3>
      <h4><%= @faculty.org_label %></h4>
      <p><%= @faculty.overview.html_safe %></p>
      <% if @faculty.affiliations.count > 0 %>
        <h4>Brown Affiliations</h4>
        <% @faculty.affiliations.each do |a| %>
          <a href="<%= organization_show_url(a.vivo_id) %>"
            title="<%= organization_show_url(a.vivo_id) %>">
              <%= a.name %>
          </a>
          &nbsp;|&nbsp;
        <% end %>
      <% end %>
      <% if @faculty.research_areas.count > 0 %>
        <h4>Research Areas</h4>
        <% @faculty.research_areas.each do |area| %>
          <% qs = "?fq=research_areas:\"" + area + "\""%>
          <a href="<%= home_search_url() + qs %>">
            <%= area %>
          </a>
          &nbsp;|&nbsp;
        <% end %>
      <% end %>
    </header>
  </section>

  <div class="row">

    <!-- tabs -->
    <div class="col-md-12">
      <ul class="nav nav-tabs user-nav" role="tablist" id="individualNavTabs">
        <li id="publicationsTab" role="presentation" class="active">
          <a href="#publications" aria-controls="Publications" role="tab" data-toggle="tab">
              Publications
          </a>
        </li>
        <li id="contactTab" role="presentation" class="active">
          <a href="#contact" aria-controls="Contact" role="tab" data-toggle="tab">
              Contact
          </a>
        </li>
      </ul>
    </div>

    <!-- tabs content -->
    <div class="col-md-12 person-container">
      <div class="tab-content" id="individualNavTabsContent">
        <%= render "show_text_tab", locals: {
          divId: "researchOverview",
          title: "Research Overview",
          text: @faculty.research_overview} %>

        <%= render "show_text_tab", locals: {
          divId: "researchStatement",
          title: "Research Statement",
          text: @faculty.research_statement} %>

        <%= render "show_contributor_to_tab" %>
        <%= render "show_teacher_for_tab" %>
        <%= render "show_education_tab" %>

        <%= render "show_collaborators_tab" %>

        <%= render "show_text_tab", locals: {
          divId: "honorsAwards",
          title: "Honors and Awards",
          text: @faculty.awards} %>

        <%= render "show_text_tab", locals: {
          divId: "fundedResearch",
          title: "Funded Research",
          text: @faculty.funded_research} %>

        <%= render "show_text_tab", locals: {
          divId: "scholarlyWork",
          title: "Scholarly Work",
          text: @faculty.scholarly_work} %>

        <%= render "show_text_tab", locals: {
          divId: "techingOverview",
          title: "Teaching Overview",
          text: @faculty.teaching_overview} %>

        <%= render "show_text_tab", locals: {
          divId: "affiliations",
          title: "Affiliations",
          text: @faculty.affiliations_text} %>
      </div>
    </div>
  </div>
</div>
