<div class="col-md-3 col-sm-4 col-xs-12">
  <section itemscope="" itemtype="http://schema.org/Person" id="individual-intro" class="vcard person" role="region">
    <section class="share-contact" role="region">
      <div id="photo-wrapper">
        <%= image_tag(@presenter.faculty.thumbnail || "person_placeholder.jpg", alt: "Faculty Picture", width: "175", class: "img-circle") %>
      </div>
      <h2 class="hidden-sm hidden-md hidden-lg">
          <%= @presenter.faculty.name %>
      </h2>

      <!-- Contact Info -->
      <div class="emailsContainer">
          <a href="mailto:<%= @presenter.faculty.email %>" title="Email <%= @presenter.faculty.email %>">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            <span class="sr-only" aria-hidden="true">title="Email <%= @presenter.faculty.email %></span>
          </a>
      </div>

      <div id="tabButtons" class="btn-group-vertical">
          <!-- On these links we use the `href` value to allow users to bookmark
               these links, but use `onclick` to select tabs via JavaScript
               rather than a full page reload. -->
          <a id="tabOverviewBtn"
            class="btn btn-default active"
            href="#Overview"
            onclick="javascript:showTab('tabOverview'); return false;"
            title="Overview">
              <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
              Overview
          </a>
          <% if @presenter.has_publications %>
            <a id="tabPublicationsBtn"
              class="btn btn-default"
              href="#Publications"
              onclick="javascript:showTab('tabPublications'); return false;"
              title="Publications">
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                Publications
            </a>
          <% end %>

          <% if @presenter.has_research %>
            <a id="tabResearchBtn"
              class="btn btn-default"
              href="#Research"
              onclick="javascript:showTab('tabResearch'); return false;"
              title="Research">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                Research
            </a>
          <% end %>

          <% if @presenter.has_background %>
            <a id="tabBackgroundBtn"
              class="btn btn-default"
              href="#Background"
              onclick="javascript:showTab('tabBackground'); return false;"
              title="Background">
                <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                Background
            </a>
          <% end %>

          <% if @presenter.has_affiliations %>
            <a id="tabAffiliationsBtn"
              class="btn btn-default"
              href="#Affiliations"
              onclick="javascript:showTab('tabAffiliations'); return false;"
              title="Affiliations">
                <span class="glyphicon glyphicon-tower" aria-hidden="true"></span>
                Affiliations
            </a>
          <% end %>

          <% if @presenter.has_teaching %>
            <a id="tabTeachingBtn"
              class="btn btn-default"
              href="#Teaching"
              onclick="javascript:showTab('tabTeaching'); return false;"
              title="Teaching">
                <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
                Teaching
            </a>
          <% end %>

          <% if @presenter.has_details %>
            <a id="tabAllBtn"
              class="btn btn-default"
              href="#All"
              onclick="javascript:showTab('tabAll'); return false;"
              title="View All">
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                View All
            </a>
          <% end %>

          <% if @presenter.faculty.cv_link %>
            <a class="btn btn-default"
              href="<%= @presenter.faculty.cv_link %>"
              target="_blank"
              title="Curriculum Vitae">Curriculum Vitae [PDF]</a>
          <% end %>
      </div>

    </section>
  </section>
</div>
