<div class="col-md-9 col-sm-8 col-xs-12" id="section_overview">
  <h2 class="vcard foaf-person individual_overview hidden-xs"><%= @presenter.faculty.display_name + (@presenter.faculty.hidden ? " [Inactive]" : "")%></h2>
  <h3 class="individual_overview"><%= @presenter.faculty.title %></h3>

  <div class="tabFinder" id="tabOverview">
    <h3>Overview</h3>
    <p><%= @presenter.faculty.overview.html_safe %></p>

    <% if @presenter.faculty.affiliations.count > 0 %>
      <h4 class="brown-affiliations panel-heading">Brown Affiliations</h4>
      <div class="brown-affiliations-list">
        <% @presenter.faculty.affiliations.each_with_index do |aff, i| %>
          <p>
          <%= image_tag( aff.thumbnail, alt: aff.name + " logo", height: "50px") %>
          <a href="<%= display_show_url(aff.vivo_id) %>">
            <%= aff.name %>
          </a>
          </p>
        <% end %>
      </div>
    <% end %>

    <% if @presenter.faculty.research_areas.count > 0 %>
      <h4 class="research-areas panel-heading">Research Areas</h4>
      <div class="brown-research-areas-list">
        <% @presenter.faculty.research_areas.each_with_index do |area, i| %>
          <% if i != 0 %>
            &nbsp;|&nbsp;
          <% end %>
          <% qs = "?fq=research_areas|#{CGI.escape(area)}" %>
          <a href="<%= search_url() + qs %>">
            <%= area %>
          </a>
        <% end %>
      </div>
    <% end %>

    <% if @presenter.faculty.on_the_web.count > 0 %>
      <h4 class="research-areas panel-heading">On the Web</h4>
      <div class="brown-research-areas-list">
        <% @presenter.faculty.on_the_web.each do |web| %>
          <% if web.icon != nil %>
            <%= image_tag(web.icon, height: "15px") %>
          <% else %>
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
          <% end %>
          <a href="<%= web.url %>" target="_blank"><%= web.text %></a><br/>
        <% end %>
      </div>
    <% end %> <!-- on_the_web.count -->
    <br/><br/>
  </div> <!-- panel -->

  <%= render "faculty/show_tab_publications", locals: {add_tab: true } %>
  <%= render "faculty/show_tab_research", locals: {add_tab: true } %>
  <%= render "faculty/show_tab_background", locals: {add_tab: true } %>
  <%= render "faculty/show_tab_affiliations", locals: {add_tab: true }  %>
  <%= render "faculty/show_tab_teaching", locals: {add_tab: true }  %>
</div> <!-- col-md-9 -->
