<script type="text/javascript">
  var vivoId = "<%= @presenter.faculty.vivo_id %>";
  var facultyId = "<%= @presenter.faculty.id %>";
  var showViz = <%= @presenter.show_visualizations %>;
  var hasCoauthors = <%= @presenter.has_coauthors %>;
  var hasCollaborators = true; // TODO: implement this
</script>

<%= render "faculty/show_javascript" %>

<% @page_title = @presenter.faculty.name %>
<% @link_alternate = individual_export_path(format: "rdf") %>

<%= render "search_box" %>

<div class="container profile">
  <div class="row person-content">
    <div class="container profile-page">
      <% if @presenter.show_back_to_search %>
        <div class="wrapper__back-to-search col-xs-12"><a href="javascript: history.go(-1)" class="back-to-search"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back to search</a></div>
      <% end %>
      <%= render "manage_profile_login" %>
      <%= render "faculty/show_left_panel" %>
      <%= render "faculty/show_right_panel" %>
    </div>
  </div>
</div>
