<% if @presenter.has_publications %>
      <div id="tabPublications" class="panel panel-default hidden">
        <h3>Publications</h3>
        <div class="panel-heading">
          <h3 id="relatedBy-Authorship" title="" class="panel-title">Contributor to </h3>
        </div>

        <div class="panel-body">
          <% if @presenter.publication_filters.count > 1 %>
              <div class="btn-group" role="group" aria-label="filter contributor to by">
                <button type="button" class="btn btn-default active btn-filter-pub"
                  id="btn-for_all"
                  onclick="javascript:publicationsShowAll()">View All (<%= @presenter.faculty.contributor_to.count %>)</button>
                <% @presenter.publication_filters.each do |filter| %>
                  <button type="button" class="btn btn-default btn-filter-pub"
                    id="btn-for_<%= filter[:id] %>"
                    onclick="javascript:publicationsShowOnly('<%= filter[:id] %>')"><%= filter[:text] %> (<%= filter[:count] %>)</button>
                <% end %>
              </div>
          <% end %>
          <table class="table table-hover">
            <tbody>
              <% @presenter.faculty.contributor_to.each do |c| %>
                <tr class="publicationTableRow" role="listitem">
                  <td class="citation-data pub-item pub-type_<%= c.pub_type_id %>">
                    <span class="listDateTime"><%= c.authors %></span>
                    <i><a href="<%= c.uri %>"><%= c.title %></a></i>
                    <%= c.pub_info %>
                    <% if c.pub_type %>
                      <span class="label label-default"><%= c.pub_type.downcase %></span>
                    <% end %>
                    <% if c.doi_url %>
                      <a class="full-text-link" target = "_blank" href="<%= c.doi_url %>">full text</a>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div> <!-- panel-body -->
      </div> <!-- panel -->
<% end %>
