<div class="col-md-9 col-sm-8 col-xs-12" id="section_overview">
      <h2 class="vcard foaf-person hidden-xs"><%= @presenter.faculty.name + (@presenter.faculty.hidden ? " [Inactive]" : "")%></h2>
      <h3><%= @presenter.faculty.title %></h3>
      <h4><%= @presenter.faculty.org_label %></h4>

      <div class="tabFinder" id="tabOverview">
          <p><%= @presenter.faculty.overview.html_safe %></p>
          <% if @presenter.faculty.affiliations.count > 0 %>
            <h4>Brown Affiliations</h4>
            <% @presenter.faculty.affiliations.each_with_index do |aff, i| %>
              <% if i != 0 %>
                &nbsp;|&nbsp;
              <% end %>
              <% qs = "?fq=affiliations|#{CGI.escape(aff.name)}" %>
              <a href="<%= search_url() + qs %>">
                <%= aff.name %>
              </a>
            <% end %>
          <% end %>
          <% if @presenter.faculty.research_areas.count > 0 %>
            <h4>Research Areas</h4>
            <% @presenter.faculty.research_areas.each_with_index do |area, i| %>
              <% if i != 0 %>
                &nbsp;|&nbsp;
              <% end %>
              <% qs = "?fq=research_areas|#{CGI.escape(area)}" %>
              <a href="<%= search_url() + qs %>">
                <%= area %>
              </a>
            <% end %>
          <% end %>
          <br/><br/>
      </div> <!-- panel -->

      <%= render "show_tab_publications", locals: {add_tab: true } %>
      <%= render "show_tab_research", locals: {add_tab: true } %>
      <%= render "show_tab_background", locals: {add_tab: true } %>
      <%= render "show_tab_affiliations", locals: {add_tab: true }  %>
      <%= render "show_tab_teaching", locals: {add_tab: true }  %>

</div> <!-- col-md-9 -->
