<nav role="navigation" class="navbar navbar-default navbar-static-top navbar-inverse" id="sticky-nav">
    <div class="container">
        <h1 class="sr-only">Search</h1>

        <div class="navbar-header">
        </div>

        <form class="navbar-form navbar-left " action="<%= home_search_path() %>" method="GET">
            <div class="form-group">
                <span class="ui-helper-hidden-accessible" aria-live="polite" role="status"></span>
                <input
                    autocomplete="off"
                    name="q"
                    id="query_top"
                    title="Search query"
                    value="<%= @query %>"
                    accesskey="q"
                    placeholder="Find an Expert..."
                    class="form-control query ui-autocomplete-input"
                    type="text">
            </div>

            <button type="submit" class="btn btn-default sympl-search hidden-xs" data-ng-disabled="isDisplayed('cart') || isDisplayed('history')">
                <span class="glyphicon glyphicon-search" role="submit"></span>
            </button>

            <button type="submit" class="btn btn-default btn-block sympl-search hidden-sm hidden-md hidden-lg" data-ng-disabled="isDisplayed('cart') || isDisplayed('history')">
                <span class="glyphicon glyphicon-search" role="submit"></span>
            </button>

            <% (@form_values || []).each do |form_value| %>
              <input name="<%= form_value[:name] %>" id="<%= form_value[:name] %>"
                  value="<%= form_value[:value] %>"
                  type="text" class="hidden">
            <% end %>

        </form>

        <div class="nav navbar-left dropdown" id="navbar-browse">
            <button id="lg-browse" class="btn btn-default navbar-btn dropdown-toggle hidden-xs" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Browse
                <span class="caret"></span>
            </button>
            <button id="xs-browse" class="btn btn-default navbar-btn btn-block hidden-sm hidden-md hidden-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Browse
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu">
                <li role="listitem">
                    <a href="<%= home_search_url() %>" title="Home menu item">Home</a>
                </li>
                <li role="listitem">
                    <a href="<%= home_search_url() + '?&fq=record_type:"PEOPLE"' %>" title="People menu item">People</a>
                </li>
                <li role="listitem">
                    <a href="<%= home_search_url() + '?&fq=record_type:"ORGANIZATION"' %>" title="Organizations menu item">Organizations</a>
                </li>
                <li role="listitem">
                    <a href="<%= home_search_url() + '?' %>" title="Research areas menu item">Research (pending)</a>
                </li>
            </ul>
        </div>

        <div class="nav navbar-right funnelsearch">
        </div>
    </div>
</nav>
