<nav role="navigation" class="navbar navbar-default navbar-static-top navbar-inverse col-lg-3 col-lg-push-9 col-md-4 col-md-push-8 col-sm-4 col-sm-push-8" id="sticky-nav">
    <div class="container">
        <h1 class="sr-only">Search</h1>

        <div class="navbar-header">
        </div>

        <form class="navbar-form navbar-right " action="<%= search_path() %>" method="GET">
            <div class="form-group">
                <span class="ui-helper-hidden-accessible" aria-live="polite" role="status"></span>
                <input
                    autocomplete="off"
                    name="q"
                    id="query_top"
                    title="Search query"
                    value="<%= @presenter.query %>"
                    accesskey="q"
                    placeholder="Find an expert..."
                    class="form-control query ui-autocomplete-input"
                    type="text">
            </div>

            <button type="submit" class="btn btn-default sympl-search hidden-xs">
                <span class="glyphicon glyphicon-search" role="submit" aria-hidden="true"></span>
                <span aria-only="true">Search</span>
            </button>

            <% if edit_allowed() %>
                <% if @presenter.user != nil %>
                    <div class="btn-group">
                        <button type="button"
                            class="btn btn-default sympl-search dropdown-toggle"
                            style="padding-bottom: 16px;margin-top: 0px;"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-user active-glyphicon" role="submit" aria-hidden="true"></span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <% if @presenter.can_edit? %>
                                <% if @presenter.edit_mode %>
                                    <li><a href="#">Switch to public view</a></li>
                                <% else %>
                                    <li><a href="#">Edit this profile</a></li>
                                <% end %>
                            <% end %>
                            <li><a href="#">Download Data</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Reports</a></li>
                        </ul>
                    </div>
                <% else %>
                    <button type="submit" class="btn btn-default sympl-search hidden-xs">
                        <span class="glyphicon glyphicon-user" role="submit" aria-hidden="true"></span>
                    </button>
                <% end %>
            <% end %>

            <button type="submit" class="btn btn-default btn-block sympl-search hidden-sm hidden-md hidden-lg">
                <span class="glyphicon glyphicon-search" role="submit" aria-hidden="true"></span>
                <span aria-only="true">Search</span>
            </button>

            <% (@presenter.form_values || []).each do |form_value| %>
              <input name="<%= form_value[:name] %>" id="<%= form_value[:name] %>"
                  value="<%= form_value[:value] %>"
                  type="text" class="hidden">
            <% end %>
        </form>
    </div>
</nav>
