<div>
    <h2>Subject Librarians</h2>
    <h3>Hello: <%= @presenter.user_fullname %></h3>
    <p>Download the data for the faculty associated with a subject librarian.</p>
    <ul>
        <li>Emily Ferrier - specific faculty list
            (<a href="<%= reports_subject_lib_url('eferrier') %>.xml">Excel/XML</a>,
            <a href="<%= reports_subject_lib_url('eferrier') %>.csv">CSV</a>)

        <li>Emily Ferrier - several departments
            (<a href="<%= reports_subject_lib_url('eferrier_large') %>.xml">Excel/XML</a>,
            <a href="<%= reports_subject_lib_url('eferrier_large') %>.csv">CSV</a>)
        </ul>
  </div>